@model             AltMenu

@{
    ViewData["Title"] = "AltMenuEdit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-xl-12 stretch-card grid-margin">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <h5 class="mb-0">Menü Düzenle </h5>
                <div class="ms-auto">
                    <label class="form-check form-switch form-check-reverse">
                        <input type="checkbox" class="form-check-input" checked>
                        <span class="form-check-label"></span>
                    </label>
                </div>
            </div>

            <div class="card-body pb-0">
<div class="row">
        <form asp-action="AltMenuEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AltMenuAdi" class="control-label"></label>
                <input asp-for="AltMenuAdi" class="form-control" />
                <span asp-validation-for="AltMenuAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AltMenuYol" class="control-label"></label>
                <input asp-for="AltMenuYol" class="form-control" />
                <span asp-validation-for="AltMenuYol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AltMenuSirasi" class="control-label"></label>
                <input asp-for="AltMenuSirasi" class="form-control" />
                <span asp-validation-for="AltMenuSirasi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AltMenuIcon" class="control-label"></label>
                <input asp-for="AltMenuIcon" class="form-control" />
                <span asp-validation-for="AltMenuIcon" class="text-danger"></span>
            </div>
             
                <input  type="hidden" asp-for="MenuId" class="form-control"  />
              
            <input type="hidden" asp-for="Id" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Durum" /> @Html.DisplayNameFor(model => model.Durum)
                </label>
            </div>
          
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

</div>
</div>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
