@model             Menu

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

 
<div class="row">
              <div class="col-xl-12 stretch-card grid-margin">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex justify-content-between flex-wrap">
                      <div>
                        <div class="card-title mb-0">@ViewBag.SayfaAdi</div>
                        <h3 class="font-weight-bold mb-0"> </h3>
                      </div>
                      <div>
                        <div class="d-flex flex-wrap pt-2 justify-content-between sales-header-right">

                        </div>
                      </div>
                    </div>
                    <p class="text-muted font-13 mt-2 mt-sm-0"> ...
                    </p>
                    <div class="flot-chart-wrapper">
                    

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MenuAdi" class="control-label"></label>
                <input asp-for="MenuAdi" class="form-control" />
                <span asp-validation-for="MenuAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MenuYol" class="control-label"></label>
                <input asp-for="MenuYol" class="form-control" />
                <span asp-validation-for="MenuYol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MenuSirasi" class="control-label"></label>
                <input asp-for="MenuSirasi" class="form-control" />
                <span asp-validation-for="MenuSirasi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MenuIcon" class="control-label"></label>
                <input asp-for="MenuIcon" class="form-control" />
                <span asp-validation-for="MenuIcon" class="text-danger"></span>
            </div>
         
          
                 
         

         
           @* <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label class="form-check-label"  > Durum
                    <input   type="checkbox" asp-for="Durum" />
                </label>
            </div>
       
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

 

  </div>
                    </div>
                  </div>
                </div>
              </div>
              
           
