
<section class="overflow-visible pb-lg-0 why-choose-01 cover-background bg-img dark-overlay" data-overlay-dark="85" data-background="img/bg/bg-04.jpg">
            <div class="container">
                <div class="row align-items-end">
                    <div class="col-lg-7 wow fadeIn" data-wow-delay="200ms">
                        <div class="pe-xl-2-9 right-content">
                            <div class="section-title white mb-1-9 position-relative">
                                <span class="sub-title wow text-animation" data-in-effect="fadeInRight">Expertise Areas</span>
                                <h2 class="text-white h1 mb-0">Few reasons why you choose us!</h2>
                            </div>
                            <p class="mb-2-2 lead text-white wow fadeInUp" data-wow-delay="100ms">Our agency can only be as strong as our peopleagenhave their businesses Duis aute irure dolorreprehDuis auteirur olor in reprehenderit in voluptate.</p>
                            <div class="row mb-2-2 mb-xl-7">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <ul class="list-style2">
                                        <li class="text-white wow fadeInUp" data-wow-delay="100ms">100 % Compensations</li>
                                        <li class="text-white wow fadeInUp" data-wow-delay="200ms">Experienced Team</li>
                                        <li class="text-white wow fadeInUp" data-wow-delay="300ms">Support 24/7</li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-style2">
                                        <li class="text-white wow fadeInUp" data-wow-delay="400ms">Online Tracking</li>
                                        <li class="text-white wow fadeInUp" data-wow-delay="500ms">Cargo Insurance</li>
                                        <li class="text-white wow fadeInUp" data-wow-delay="600ms">Safe Warehouse</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="bg-secondary align-items-center p-1-6 p-sm-1-9 rounded-style">
                                <div class="row">
                                    <div class="col-6 col-md-3">
                                        <img src="~/Template/img/partners/partner-01.png" alt="...">
                                    </div>
                                    <div class="col-6 col-md-3">
                                        <img src="~/Template/img/partners/partner-02.png" alt="...">
                                    </div>
                                    <div class="col-6 col-md-3">
                                        <img src="~/Template/img/partners/partner-03.png" alt="...">
                                    </div>
                                    <div class="col-6 col-md-3">
                                        <img src="~/Template/img/partners/partner-04.png" alt="...">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 d-none d-lg-block wow fadeIn" data-wow-delay="400ms">
                        <div class="ps-xl-2-3 left-img position-relative">
                            <div class="image-hover image-radius-shape">
                                <img src="~/Template/img/content/why-us-01.jpg" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>