<section class="p-0 mt-n1-9">
            <div class="container position-relative z-index-9">
                <div class="section-title mb-2-3 mb-md-6 text-center wow fadeInUp" data-wow-delay="200ms">
                    <span class="sub-title wow text-animation" data-in-effect="fadeInRight">pricing tables</span>
                    <h2 class="h1">Choose your best offer</h2>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="py-1-9 px-4 border-top border-bottom wow fadeInUp" data-wow-delay="200ms">
                            <div class="row align-items-center">
                                <div class="col-md-3 col-lg-2 mb-2 mb-md-3 mb-lg-0">
                                    <h5 class="mb-0">Standard</h5>
                                </div>
                                <div class="col-md-9 col-lg-5 mb-1 mb-md-3 mb-lg-0"><span>10 warehouses, Carrier invoice audit</span></div>
                                <div class="col-md-3 col-lg-2 mb-2 mb-md-0">
                                    <div><span class="display-16 display-md-13 display-lg-11 display-xl-9 font-weight-700 text-secondary">55</span> <span class="display-28 display-md-25 text-dark font-weight-500">USD</span></div>
                                </div>
                                <div class="col-md-9 col-lg-3 text-lg-end">
                                    <a href="#!" class="butn"><span>Get Started</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="py-1-9 px-4 border-bottom wow fadeInUp bg-light" data-wow-delay="400ms">
                            <div class="row align-items-center">
                                <div class="col-md-3 col-lg-2 mb-2 mb-md-3 mb-lg-0">
                                    <h5 class="mb-0">Popular</h5>
                                </div>
                                <div class="col-md-9 col-lg-5 mb-1 mb-md-3 mb-lg-0"><span>10 warehouses, Carrier invoice audit, 250 freight shipments</span></div>
                                <div class="col-md-3 col-lg-2 mb-2 mb-md-0">
                                    <div><span class="display-16 display-md-13 display-lg-11 display-xl-9 font-weight-700 text-secondary">100</span> <span class="display-28 display-md-25 text-dark font-weight-500">USD</span></div>
                                </div>
                                <div class="col-md-9 col-lg-3 text-lg-end">
                                    <a href="#!" class="butn"><span>Get Started</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="pt-1-9 px-4 wow fadeInUp" data-wow-delay="600ms">
                            <div class="row align-items-center">
                                <div class="col-md-3 col-lg-2 mb-2 mb-md-3 mb-lg-0">
                                    <h5 class="mb-0">Premium</h5>
                                </div>
                                <div class="col-md-9 col-lg-5 mb-1 mb-md-3 mb-lg-0"><span>Unlimited freight, Multiple warehouses, Discount price rates</span></div>
                                <div class="col-md-3 col-lg-2 mb-2 mb-md-0">
                                    <div><span class="display-16 display-md-13 display-lg-11 display-xl-9 font-weight-700 text-secondary">199</span> <span class="display-28 display-md-25 text-dark font-weight-500">USD</span></div>
                                </div>
                                <div class="col-md-9 col-lg-3 text-lg-end">
                                    <a href="#!" class="butn"><span>Get Started</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>