@model ServislerDto

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-xl-12 stretch-card grid-margin">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <h5 class="mb-0">Hizmet Ayarları </h5>
                <div class="ms-auto">
                    <label class="form-check form-switch form-check-reverse">
                        <input type="checkbox" class="form-check-input" checked>
                        <span class="form-check-label"></span>
                    </label>
                </div>
            </div>

            <div class="card-body pb-0">
                <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
             <div class="col-md-8">
            <div class="form-group">
                <label asp-for="ServisAdi" class="control-label"></label>
                <input asp-for="ServisAdi" class="form-control" />
                <span asp-validation-for="ServisAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServisAciklama" class="control-label"></label>
                <textarea rows="5" asp-for="ServisAciklama" class="form-control" ></textarea>
                <span asp-validation-for="ServisAciklama" class="text-danger"></span>
            </div>
        
           
          
            <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="SayfaId" />
                        <input type="hidden" asp-for="ServisUrl" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Durum" /> @Html.DisplayNameFor(model => model.Durum)
                </label>
            </div>
     
            <div class="form-group">
                <input type="submit" value="Güncelle" class="btn btn-primary" />
            </div>
            </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header d-flex align-items-center">
                                <h5 class="mb-0">Resim </h5>
                                <div class="ms-auto">
                                    <label class="form-check form-switch form-check-reverse">
                                        Buraya Hizmet Resmi
                                    </label>
                                </div>
                            </div>
                                               @if (@Model.ServisResim is not null)
                            {
                            <div class="card-body pb-3">
                            <div class="form-group">
                                            <img src="@Model.ServisResim" style="width:-webkit-fill-available;" />
                           
                            </div>
                            </div>
                            }


                            <div class="card-body pb-3">
                                <div class="form-group">
                                    <label asp-for="ServisResim" class="control-label">Sayfa Resmi</label>
                                    @*<input asp-for="KucukResim" class="form-control" />*@

                                    <input type="file" asp-for="ServisResimFile" class="file-input" multiple="multiple" data-show-upload="false" data-show-caption="true" data-show-preview="true">
                                        <input type="hidden" asp-for="ServisResim" />

                                    <span asp-validation-for="ServisResim" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
</div>
        </form>
    </div>
</div>

</div></div>


@section Scripts {

    <script src="~/assets/js/vendor/uploaders/fileinput/fileinput.min.js"></script>
    <script src="~/assets/js/vendor/uploaders/fileinput/plugins/sortable.min.js"></script>
    <script src="~/assets/demo/pages/uploader_bootstrap.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}