<section class="wow fadeIn" data-wow-delay="200ms">
            <div class="container">
                <div class="bg-img cover-background rounded-style py-8 py-lg-10 py-xl-12 testimonial-style" data-background="img/bg/bg-07.jpg">
                    <div class="row justify-content-center justify-content-xl-start">
                        <div class="col-10 col-lg-7 col-xl-4">
                            <div class="testimonial-details rounded-style p-2-2 p-sm-5">
                                <i class="ti-quote-right text-white bg-secondary display-18 mb-3 d-inline-block theme-circle"></i>
                                <p class="lead mb-4 mb-sm-5">My shipment was picked up and delivered with excellent service! Needless to say I am extremely satisfied with the results. Will definitely use this service again.</p>
                                <h6 class="mb-0">Bruce Hunsaker <small class="text-secondary"> - Freight Conductor</small></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>