@model  Resimler

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row">
    

 
    <div class="row">
        <div class="col-xl-12 stretch-card grid-margin">
            <div class="card">
                <div class="card-header d-flex align-items-center">
                    <h5 class="mb-0"> Resim Güncelle </h5>
                    <div class="ms-auto">
                        <label class="form-check form-switch form-check-reverse">
                            <input type="checkbox" class="form-check-input" checked>
                            <span class="form-check-label"></span>
                        </label>
                    </div>
                </div>
                <div class="card-body pb-0">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">

                    <div class="col-md-8">

            <div class="form-group">
                <label asp-for="Baslik" class="control-label"></label>
                <input asp-for="Baslik" class="form-control" />
                <span asp-validation-for="Baslik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aciklama" class="control-label"></label>
                <input asp-for="Aciklama" class="form-control" />
                <span asp-validation-for="Aciklama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileName" class="control-label"></label>
                <span asp-validation-for="FileName" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Path" class="form-control" />
            <input type="hidden"  asp-for="FileName" class="form-control" />


            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Durum" /> @Html.DisplayNameFor(model => model.Durum)
                </label>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Güncelle" class="btn btn-primary" />
            </div>
            </div>

                    <div class="col-md-4">
                    <div class="card-body pb-3">
                        <div class="form-group">
                            <label  class="control-label">Resim</label>
                            @*<input asp-for="KucukResim" class="form-control" />*@

                                @if (Model.Path is not null)
                                {
                                  <div class="form-group">
                                        <img src="/@Model.Path" style="height:300px; width:300px" />

                                </div>
                                }
                            </div>
                    </div>
                    </div>

        </div>
        </form>
        
    </div>
    </div>
    </div>
</div>
</div>

<div>
    <a asp-action="Index">Listeye Dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
