<div class="choose-area py-120">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="choose-content">
                    <div class="site-heading wow fadeInDown" data-wow-delay=".25s">
                        <span class="site-title-tagline text-white justify-content-start">
                            <i class="flaticon-drive"></i>NEDEN BİZİ SEÇMELİSİNİZ?
                        </span>
                        <h2 class="site-title text-white mb-10">Kaliteli hizmet <span>sunmak için</span> varız</h2>
                        <p class="text-white">
                            Türkiye’de vinç hizmetleri sektöründe 2008’den bu yana 14 yıllık tecrübesi ile yer edinen Töre Vinç;
                            yenilenen teknolojiyi daima takip eden ve kendi bünyesine dahil etmeye çalışan bir tutumla etkinliğini sürdürür. Kaliteden ödün vermeme 
                            ve güvenliği önceleyen Töre Vinç, vinç kiralama hizmetlerinde titizlikle çalışır.
                        </p>
                    </div>
                    <div class="choose-img wow fadeInUp" data-wow-delay=".25s">
                        <img src="/nedenbiz.png" alt="">
                       
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="choose-content-wrapper wow fadeInRight" data-wow-delay=".25s">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 mt-lg-5">
                            <div class="choose-item">
                                <span class="choose-count">01</span>
                                <div class="choose-item-icon">
                                    <i class="flaticon-car"></i>
                                </div>
                                <div class="choose-item-info">
                                    <h3>Doğru Yük Tespiti</h3>
                                    <p>
                                        Yüklerinizi güvenli ve verimli bir şekilde kaldırmak için ihtiyacınız olan aksesuarlara sahip bir vinç arayın. Bazı vinçler, 
                                        aletleri taşımak için bölmelerle gelirken, diğerleri asansör gibi personel kaldırmaya uygun aksesuarlarla birlikte gelir..
                                    </p>
                                </div>
                            </div>
                            <div class="choose-item mb-lg-0">
                                <span class="choose-count">03</span>
                                <div class="choose-item-icon">
                                    <i class="flaticon-drive-thru"></i>
                                </div>
                                <div class="choose-item-info">
                                    <h3>Doğru  Kaldırma Tekniği</h3>
                                    <p>
                                        Kiralık bir vinç seçerken, yükün türünü, yükün ağırlığını ve kaldırma için en uygun tekniği göz önünde bulundurun.
                                        Yanlış kaldırma tekniği çalışma sahasında kaza riskini artırabilir.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="choose-item">
                                <span class="choose-count">02</span>
                                <div class="choose-item-icon">
                                    <i class="flaticon-chauffeur"></i>
                                </div>
                                <div class="choose-item-info">
                                    <h3>Güvenlik</h3>
                                    <p>
                                        Vinci çalıştırmayı zorlaştırabilecek veya çalışma sahasındaki tehlikeleri artırabilecek potansiyel engelleri belirleyin. Elektrik hatları, binalar,
                                        yeraltı tesisleri veya belirli tipteki vinçlerin düzgün çalışmasını engelleyebilecek ağaçlar gibi özelliklere dikkat edin.
                                    </p>
                                </div>
                            </div>
                            <div class="choose-item mb-lg-0">
                                <span class="choose-count">04</span>
                                <div class="choose-item-icon">
                                    <i class="flaticon-online-payment"></i>
                                </div>
                                <div class="choose-item-info">
                                    <h3>Çalışma Yapılacak Alan Detayları</h3>
                                    <p>
                                        Yük gereksinimlerini anladıktan sonra, projenize uygun tip ve vinç boyutunu belirlemek için sahanızın koşullarını değerlendirin.
                                        İlk olarak, yükü kaldırmak için ne kadar yükseğe ihtiyacınız olacağını düşünün.
                                        Bu, ihtiyaç duyacağınız bom tipini ve bom uzantısının kurulma şeklini belirleyecektir.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>