<div class="choose-area py-120">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="choose-content">
                    <div class="site-heading wow fadeInDown" data-wow-delay=".25s">
                        <span class="site-title-tagline text-white justify-content-start">
                            <i class="flaticon-drive"></i>NEDEN BİZİ SEÇMELİSİNİZ?
                        </span>
                        <h2 class="site-title text-white mb-10">Kaliteli hizmet <span>sunmak için</span> varız</h2>
                        <p class="text-white">
                            Türkiye'nin herhangi bir şehrinden beğendiğiniz araca ekspertiz ve
                            inceleme yaptırmak istiyorsanız, sizin için bu işi yapacak her şehirde 
                            güvenilir bir çalışma arkadaşımız bulunmaktadır. Hemen bizimle iletişime geçin.
                            Aracın bulunduğu ildeki arkadaşımız araç sahibiyle buluşup önce aracın hataları var ise fotoğraflar ile
                            yada görüntülü arama ile size ulaştırsın. Daha sonra aracı ekspere götürüp yapılan işlemleri
                            ve çıkan eksper raporunu size ulaştırsın.
                            Siz de güvenilir bir şekilde aracı alıp almayacağına karar verin.
                        </p>
                    </div>
                    <div class="choose-img wow fadeInUp" data-wow-delay=".25s">
                        <img src="/nedenbiz.png" alt="">
                       
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="choose-content-wrapper wow fadeInRight" data-wow-delay=".25s">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 mt-lg-5">
                            <div class="choose-item">
                                <span class="choose-count">01</span>
                                <div class="choose-item-icon">
                                    <i class="flaticon-car"></i>
                                </div>
                                <div class="choose-item-info">
                                    <h3>En Güzel Arabalar</h3>
                                    <p>
                                       Sizin için alacağınız arabayı en iyi şekilde incelemeler sizlere
                                       en iyi hizmeti sunmayı hedefliyoruz.
                                    </p>
                                </div>
                            </div>
                            <div class="choose-item mb-lg-0">
                                <span class="choose-count">03</span>
                                <div class="choose-item-icon">
                                    <i class="flaticon-drive-thru"></i>
                                </div>
                                <div class="choose-item-info">
                                    <h3>Yedek Parça Hizmeti</h3>
                                    <p>
                                       Türkiyenin her yerine araç yedek parçası tederik etmekteyiz.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="choose-item">
                                <span class="choose-count">02</span>
                                <div class="choose-item-icon">
                                    <i class="flaticon-chauffeur"></i>
                                </div>
                                <div class="choose-item-info">
                                    <h3>En Güvenli Ekspertiz</h3>
                                    <p>
                                        Türkiyenin her yerinde anlaşmalı ekspertiz firmalarında size kaliteli
                                        ve uygun fiyata ekspertiz hizmeti sunmaktayız.
                                    </p>
                                </div>
                            </div>
                            <div class="choose-item mb-lg-0">
                                <span class="choose-count">04</span>
                                <div class="choose-item-icon">
                                    <i class="flaticon-online-payment"></i>
                                </div>
                                <div class="choose-item-info">
                                    <h3>Araç Al Getir</h3>
                                    <p>
                                        Araçınızı istediğiniz yerden adresinize hızlı ve güvenli bir şekilde teslimat yapmaktayız.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>