<main class="main">

    <!-- pricing-area -->
    <div class="pricing-area py-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <div class="site-heading text-center">
                        <span class="site-title-tagline">Paketler</span>
                        <h2 class="site-title"> <span>Pilot Garaj</span> Kurumsal Eksper </h2>
                        <p class="pricing-duration">Paket İçerikleri ve Fiyatları</p>
                        <div class="heading-divider"></div>
                    </div>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-6 col-lg-3">
                    <div class="pricing-item">
                        <div class="pricing-header">
                            <div class="pricing-icon">
                                <i class="flaticon-car-rental"></i>
                            </div>
                            <div class="pricing-header-content">
                                <h4>Eko Class</h4>
                                <p class="pricing-duration">Normal Fiyatı :<b>1500 TL</b></p>
                                <h1 class="pricing-amount">Eksperli Arabam İle 1200 TL</h1>
                            </div>
                        </div>
                        <div class="pricing-feature">
                            <ul>
                                <li>Boya Kaporta</li>
                                <li>İç-Dış Kontroller</li>
                                <li>Motor Mekanik Kontroller</li>
                                <li>Sorgulamalar</li>
                                <li>DYNO Motor Performans Testi</li>
                                <li>Mekanik Alt Kontroller</li>
                            </ul>
                         
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="pricing-item">
                        <div class="pricing-header">
                            <div class="pricing-icon">
                                <i class="flaticon-car-rental"></i>
                            </div>
                            <div class="pricing-header-content">
                                <h4>Bold Class</h4>
                                <p class="pricing-duration">Normal Fiyatı :1950 Tl</p>
                                <h1 class="pricing-amount">Eksperli Arabam İle 1400 TL</h1>
                            </div>
                        </div>
                        <div class="pricing-feature">
                            <ul>
                                <li>Boya Kaporta</li>
                                <li>İç-Dış Kontroller</li>
                                <li>Motor Mekanik Kontroller</li>
                                <li>Sorgulamalar</li>
                                <li>DYNO Motor Performans Testi</li>
                                <li>Mekanik Alt Kontroller</li>
                                <li>OBD Elektronik Kontrolleri</li>
                                <li>Süspansiyon Test Sonucu</li>
                                <li>Yanal Kayma Test Sonucu</li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="pricing-item">
                        <div class="pricing-header">
                            <div class="pricing-icon">
                                <i class="flaticon-car-rental"></i>
                            </div>
                            <div class="pricing-header-content">
                                <h4>Business</h4>
                                <p class="pricing-duration">Normal Fiyatı :3000 Tl</p>
                                <h1 class="pricing-amount">Eksperli Arabam İle 1800 TL</h1>
                            </div>
                        </div>
                        <div class="pricing-feature">
                            <ul>
                                <li>Boya Kaporta</li>
                                <li>İç-Dış Kontroller</li>
                                <li>Motor Mekanik Kontroller</li>
                                <li>Sorgulamalar</li>
                                <li>DYNO Motor Performans Testi</li>
                                <li>Mekanik Alt Kontroller</li>
                                <li>OBD Elektronik Kontrolleri</li>
                                <li>Süspansiyon Test Sonucu</li>
                                <li>Yanal Kayma Test Sonucu</li>
                                <li>Fren Test Kontrolleri</li>
                                <li>Conta Yanık Testi</li>
                                
                            </ul>
                             
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="pricing-item">
                        <div class="pricing-header">
                            <div class="pricing-icon">
                                <i class="flaticon-car-rental"></i>
                            </div>
                            <div class="pricing-header-content">
                                <h4>First Class</h4>
                                <p class="pricing-duration">Normal Fiyatı :4200 Tl</p>
                                <h1 class="pricing-amount">Eksperli Arabam İle 2300 TL</h1>
                            </div>
                        </div>
                        <div class="pricing-feature">
                            <ul>
                                <li>Boya Kaporta</li>
                                <li>İç-Dış Kontroller</li>
                                <li>Motor Mekanik Kontroller</li>
                                <li>Sorgulamalar</li>
                                <li>DYNO Motor Performans Testi</li>
                                <li>Mekanik Alt Kontroller</li>
                                <li>OBD Elektronik Kontrolleri</li>
                                <li>Süspansiyon Test Sonucu</li>
                                <li>Yanal Kayma Test Sonucu</li>
                                <li>Fren Test Kontrolleri</li>
                                <li>Conta Yanık Testi</li>
                                <li>Hava Yastığı Kontrolleri</li>
                            </ul>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- pricing-area end -->

    <div class="pricing-area py-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <div class="site-heading text-center">
                        <span class="site-title-tagline">Paketler</span>
                        <h2 class="site-title"> <span>Tarcanlar </span> Tuning Oto Ekspertiz</h2>
                        <p class="pricing-duration">Paket İçerikleri ve Fiyatları</p>
                        <div class="heading-divider"></div>
                    </div>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-12 col-lg-12">
                    <div class="pricing-item">
                        <div class="pricing-header">
                          
                            <div class="pricing-header-content">
                               
                              
                                <h1 class="pricing-amount">Tek Paket Full Paket</h1>
                            </div>
                        </div>
                        <div class="row mt-20">
                        <div class="col-md-6 col-lg-3">
                        
                            <ul>
                                <li>Kaporta Kontrolü</li>
                                <li>Şase Kontrolü</li>
                                <li>Boya Kontrolü(Ölçüm İle)</li>
                                <li>Boya Testi(Gözle Işık Altında)</li>
                                <li>Plastik Parça(Tampon Vb.)</li>
                               
                                 
                                
                            </ul>
                               
                             
                            </div>
                            <div class="col-md-6 col-lg-3">
                        
                            <ul>
                                    <li>Bilgisayar İle Arıza Tespiti</li>
                                    <li>Motor Kontrolü</li>
                                    <li style="color:red">İç Kontrol*</li>
                                    <li style="color:red">Dış Kontrol*</li>
                                    <li style="color:red">Hava Yastığı Kontrolü</li>
                                    
                            </ul>
                               
                        
                         </div>
                            <div class="col-md-6 col-lg-3">

                                <ul>
                                    <li>Yürür Aksam Kontrolü</li>
                                    <li>Yanal Kayma Testi</li>
                                    <li>Amortisor Testi</li>
                                    <li>Fren Testi</li>
                                    <li>Motor Perforamns Testi</li>
                                </ul>


                            </div>
                            <div class="col-md-6 col-lg-3">

                                <ul>
                                    <li>Şanzıman Kontrolü
                                    <li>
                                    <li style="color:red">Hasar Sorgulama</li>
                                    <li style="color:red">KM Sorgulama</li>
                                    <li style="color:red">Silindir(Üst) Kapak Çonta Testi</li>
                                    <li style="color:red">Farklı Araçlar İle Birleştime Kontrolü</li>
                                    
                                </ul>


                            </div>
                            <div class="row mt-20">
                                <h4>Yükarıdaki tüm servisler araç kasasına göre  Tek Fiyattır.</h4>
                                <br />
                                <div class="col-md-6 col-lg-3">
                                <div class="pricing-header">
                                    <div class="pricing-icon">
                                        <i class="flaticon-car-rental"></i>
                                    </div>
                                    <div class="pricing-header-content">
                                        <h4>Otomobil</h4>

                                            <h1 class="pricing-amount">Eksperli Arabam İle 2900 TL</h1>
                                    </div>
                                </div>
                             </div>
                                <div class="col-md-6 col-lg-3">
                                    <div class="pricing-header">
                                        <div class="pricing-icon">
                                            <i class="flaticon-car-rental"></i>
                                        </div>
                                        <div class="pricing-header-content">
                                            <h4>Ticari - SUV</h4>

                                            <h1 class="pricing-amount">Eksperli Arabam İle 3200 TL</h1>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <div class="pricing-header">
                                        <div class="pricing-icon">
                                            <i class="flaticon-car-rental"></i>
                                        </div>
                                        <div class="pricing-header-content">
                                            <h4>4x4 - PAnelvan</h4>

                                            <h1 class="pricing-amount">Eksperli Arabam İle 3400 TL</h1>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <div class="pricing-header">
                                        <div class="pricing-icon">
                                            <i class="flaticon-car-rental"></i>
                                        </div>
                                        <div class="pricing-header-content">
                                            <h4>Üst Segment</h4>

                                            <h1 class="pricing-amount">Eksperli Arabam İle 3900 TL</h1>
                                        </div>
                                    </div>
                                </div>
                         </div>
                 </div>
                  
                 
            </div>
        </div>
    </div>

</main>