
@model List<Resimler>
@{
    ViewData["Title"] = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.Count>0)
{
    <!-- PAGETITLE
       ================================================== -->
    
    <div class="site-breadcrumb" style="background: url(/motex/assets/img/breadcrumb/01.jpg)">
        <div class="container">
            <h2 class="breadcrumb-title"> Resim Köşesi</h2>
            <ul class="breadcrumb-menu">
                <li><a href="~/home">Anasayfa</a></li>
                <li class="active">Resim Köşesi</li>
            </ul>
        </div>
    </div>

    <!-- OUR PROJECTS
    ================================================== -->
   

    <div class="team-area pt-120 pb-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <div class="site-heading text-center">
                        <span class="site-title-tagline">Resimlerimiz</span>
                        <h2 class="site-title">Biz   <span> Kocaman Bir </span>Aileyiz</h2>
                        <div class="heading-divider"></div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                @foreach (var item in Model)
                {
                <div class="col-md-6 col-lg-3">
                    <div class="team-item wow fadeInUp" data-wow-delay=".25s">
                        <div class="team-img">
                                <img src="~/@item.Path" alt="thumb">
                        </div>
                       
                        <div class="team-content">
                            <div class="team-bio">
                                    <h5><a href="#">@item.Baslik</a></h5>
                                
                            </div>
                        </div>
                    </div>
                </div>
                }
        
            </div>
        </div>
    </div>


}


