
@{
    ViewData["Title"] = "İletişim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="site-breadcrumb" style="background: url(/motex/assets/img/breadcrumb/01.jpg)">
    <div class="container">
        <h2 class="breadcrumb-title">Talep Formu Sonuç</h2>
        <ul class="breadcrumb-menu">
            <li><a href="~/home">Anasayfa</a></li>
            <li class="active">Talep Alındı.</li>
        </ul>
    </div>
</div>

          <section class="contact-form">
            <div class="container">
                <div class="section-title mb-2-3 mb-md-6 text-center">
                    <span class="sub-title wow text-animation" data-in-effect="fadeInRight">  </span>
                   <h1>Başvurunuz alınmış olup en kısa sürede sizinle irtibata geçeceğiz.</h1>
                </div>
                </div></section>



