@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<main class="main">

    <!-- breadcrumb -->
    <div class="site-breadcrumb" style="background: url(/motex/assets/img/breadcrumb/01.jpg)">
        <div class="container">
            <h2 class="breadcrumb-title">Paket İçerikleri ve Fiyatlar</h2>
            <ul class="breadcrumb-menu">
                <li><a href="~Home">Anasayfa</a></li>
                <li class="active">Paketler</li>
            </ul>
        </div>
    </div>
    <!-- breadcrumb end -->
    <!-- pricing-area -->
    <div class="pricing-area py-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <div class="site-heading text-center">
                        <span class="site-title-tagline">Pricing</span>
                        <h2 class="site-title">Our Pricing <span>Plan</span></h2>
                        <div class="heading-divider"></div>
                    </div>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-6 col-lg-3">
                    <div class="pricing-item">
                        <div class="pricing-header">
                            <div class="pricing-icon">
                                <i class="flaticon-car-rental"></i>
                            </div>
                            <div class="pricing-header-content">
                                <h4>Basic Plan</h4>
                                <p class="pricing-duration">Duration: 10 Days</p>
                                <h1 class="pricing-amount">$159.66</h1>
                            </div>
                        </div>
                        <div class="pricing-feature">
                            <ul>
                                <li>Search All Listings</li>
                                <li>Get Full Listing Info</li>
                                <li>Create Favorite List</li>
                                <li>24/7 Online Support</li>
                            </ul>
                            <a href="#" class="theme-btn">Choose Plan<i class="fas fa-arrow-right-long"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="pricing-item">
                        <div class="pricing-header">
                            <div class="pricing-icon">
                                <i class="flaticon-car-rental"></i>
                            </div>
                            <div class="pricing-header-content">
                                <h4>Regular Plan</h4>
                                <p class="pricing-duration">Duration: 15 Days</p>
                                <h1 class="pricing-amount">$199.25</h1>
                            </div>
                        </div>
                        <div class="pricing-feature">
                            <ul>
                                <li>Search All Listings</li>
                                <li>Get Full Listing Info</li>
                                <li>Create Favorite List</li>
                                <li>24/7 Online Support</li>
                            </ul>
                            <a href="#" class="theme-btn">Choose Plan<i class="fas fa-arrow-right-long"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="pricing-item">
                        <div class="pricing-header">
                            <div class="pricing-icon">
                                <i class="flaticon-car-rental"></i>
                            </div>
                            <div class="pricing-header-content">
                                <h4>Popular Plan</h4>
                                <p class="pricing-duration">Duration: 1 Months</p>
                                <h1 class="pricing-amount">$220.78</h1>
                            </div>
                        </div>
                        <div class="pricing-feature">
                            <ul>
                                <li>Search All Listings</li>
                                <li>Get Full Listing Info</li>
                                <li>Create Favorite List</li>
                                <li>24/7 Online Support</li>
                            </ul>
                            <a href="#" class="theme-btn">Choose Plan<i class="fas fa-arrow-right-long"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="pricing-item">
                        <div class="pricing-header">
                            <div class="pricing-icon">
                                <i class="flaticon-car-rental"></i>
                            </div>
                            <div class="pricing-header-content">
                                <h4>Premium Plan</h4>
                                <p class="pricing-duration">Duration: 2 Months</p>
                                <h1 class="pricing-amount">$330.96</h1>
                            </div>
                        </div>
                        <div class="pricing-feature">
                            <ul>
                                <li>Search All Listings</li>
                                <li>Get Full Listing Info</li>
                                <li>Create Favorite List</li>
                                <li>24/7 Online Support</li>
                            </ul>
                            <a href="#" class="theme-btn">Choose Plan<i class="fas fa-arrow-right-long"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- pricing-area end -->

</main>
