@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	Layout = null;
}
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Limitless - Responsive Web Application Kit by Eugene Kopyov</title>

	<!-- Global stylesheets -->
	<link href="~/assets/fonts/inter/inter.css" rel="stylesheet" type="text/css">
	<link href="~/assets/icons/phosphor/styles.min.css" rel="stylesheet" type="text/css">
	<link href="~/assets/css/ltr/all.min.css" id="stylesheet" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->
	<!-- Core JS files -->
	<script src="~/assets/demo/demo_configurator.js"></script>
	<script src="~/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
	<!-- /core JS files -->
	<!-- Theme JS files -->
	<!-- /theme JS files -->

</head>
<body>
	<div class="content d-flex justify-content-center align-items-center">

		<!-- Container -->
		<div class="flex-fill">

			<!-- Error title -->
			<div class="text-center mb-4">
				<img src="~/assets/images/error_bg.svg" class="img-fluid mb-3" height="230" alt="">
				<h1 class="display-3 fw-semibold lh-1 mb-3">@ViewBag.StatusCode</h1>
				<h6 class="w-md-25 mx-md-auto"></h6>
			</div>
			<!-- /error title -->
			<!-- Error content -->
			<!-- /error wrapper -->

		</div>
		<!-- /container -->

	</div>
</body>
