<section class="bg-light border-bottom-radius mx-lg-7 pt-lg-22">
            <div class="container-fluid">          
                <div class="row mt-n1-9">
                    <div class="col-sm-6 col-lg-3 mt-1-9 wow fadeIn" data-wow-delay="200ms">
                        <div class="process-style2 first">
                            <div class="process-arrow">
                                <div class="process-icon-box">
                                    <img src="~/Template/img/icons/icon-17.png" alt="...">
                                </div>
                                <div class="process-contnet">
                                    <h4 class="h5 mb-0">Select Freight</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mt-1-9 wow fadeIn" data-wow-delay="400ms">
                        <div class="process-style2">
                            <div class="process-arrow">
                                <div class="process-icon-box">
                                    <img src="~/Template/img/icons/icon-18.png" alt="...">
                                </div>
                                <div class="process-contnet">
                                    <h4 class="h5 mb-0">Select Invoice</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mt-1-9 wow fadeIn" data-wow-delay="600ms">
                        <div class="process-style2">
                            <div class="process-arrow">
                                <div class="process-icon-box">
                                    <img src="~/Template/img/icons/icon-19.png" alt="...">
                                </div>
                                <div class="process-contnet">
                                    <h4 class="h5 mb-0">Secure Payment</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mt-1-9 wow fadeIn" data-wow-delay="800ms">
                        <div class="process-style2 last">
                            <div class="process-arrow">
                                <div class="process-icon-box">
                                    <img src="~/Template/img/icons/icon-20.png" alt="...">
                                </div>
                                <div class="process-contnet">
                                    <h4 class="h5 mb-0">Fast Delivered</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>