@model             Blog

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

 


<div class="row">
    <div class="col-xl-12 stretch-card grid-margin">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <h5 class="mb-0">Blog Ayarları</h5>
                <div class="ms-auto">
                    <label class="form-check form-switch form-check-reverse">
                        <input type="checkbox" class="form-check-input" checked>
                        <span class="form-check-label"></span>
                    </label>
                </div>
            </div>

            <div class="card-body pb-0">

                        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                    <div class="col-md-8">
            <div class="form-group">
                <label asp-for="BlogKategoryId" class="control-label">Blog Kategorisi</label>
                <select asp-for="BlogKategoryId" asp-items="@(new SelectList(@ViewBag.BlogKategory,"Value","Text"))" class="form-control" >   </select>
                <span asp-validation-for="BlogKategoryId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="BlogBaslik" class="control-label"></label>
                <input asp-for="BlogBaslik" class="form-control" />
                <span asp-validation-for="BlogBaslik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlogAciklama" class="control-label"></label>
                                <textarea asp-for="BlogAciklama" rows="5" class="form-control"> </textarea>

                <span asp-validation-for="BlogAciklama" class="text-danger"></span>
            </div>
                                    
            
            <input asp-for="SayfaUrl" type="hidden" value="0" class="form-control" />
            <input asp-for="SayfaId" type="hidden" value="0" class="form-control" />
           
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Durum" /> @Html.DisplayNameFor(model => model.Durum)
                </label>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            </div>
                                        <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-header d-flex align-items-center">
                                            <h5 class="mb-0">Resim  </h5>
                                            <div class="ms-auto">
                                                <label class="form-check form-switch form-check-reverse">
                                                    Yüklenecek Resim Boyutu 856*530 olması gerekli
                                                </label>
                                            </div>
                                        </div>
                                   


                                        <div class="card-body pb-3">
                                            <div class="form-group">
                                                <label name="ResimFile" class="control-label">Sayfa Resmi</label>
                                                @*<input asp-for="KucukResim" class="form-control" />*@

                                                <input type="file" name="ResimFile" class="file-input" multiple="multiple" data-show-upload="false" data-show-caption="true" data-show-preview="true">


                                            </div>
                                        </div>
                                    </div>
                                </div>

            </div>

        </form>
    </div>
</div>

</div></div> 

@section Scripts {
    <script src="~/assets/js/vendor/uploaders/fileinput/fileinput.min.js"></script>
    <script src="~/assets/js/vendor/uploaders/fileinput/plugins/sortable.min.js"></script>
    <script src="~/assets/demo/pages/uploader_bootstrap.js"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
