@model             Blog

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-xl-12 stretch-card grid-margin">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <h5 class="mb-0">Sayfa Ayarları </h5>
                <div class="ms-auto">
                    <label class="form-check form-switch form-check-reverse">
                        <input type="checkbox" class="form-check-input" checked>
                        <span class="form-check-label"></span>
                    </label>
                </div>
            </div>

            <div class="card-body pb-0">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-8">
            <div class="form-group">
                <label asp-for="BlogBaslik" class="control-label"></label>
                <input asp-for="BlogBaslik" class="form-control" />
                <span asp-validation-for="BlogBaslik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlogAciklama" class="control-label"></label>
                <input asp-for="BlogAciklama" class="form-control" />
                <span asp-validation-for="BlogAciklama" class="text-danger"></span>
            </div>
         
                            <input type="hidden" asp-for="BlogResim" class="form-control" />
                <input type="hidden" asp-for="SayfaUrl" class="form-control" />

                <input type="hidden" asp-for="SayfaId" class="form-control" />
                <input type="hidden" asp-for="BlogKategoryId" class="form-control" />
           
                <input type="hidden" asp-for="Id" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Durum" /> @Html.DisplayNameFor(model => model.Durum)
                </label>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            </div>

                       <div class="col-md-4">
                        <div class="card">
                            <div class="card-header d-flex align-items-center">
                                <h5 class="mb-0">Resim </h5>
                                <div class="ms-auto">
                                    <label class="form-check form-switch form-check-reverse">
                                        <input type="checkbox" class="form-check-input" checked>
                                        <span class="form-check-label"></span>
                                    </label>
                                </div>
                            </div>
                            @if (@Model.BlogResim is not null)
                            {
                                <div class="card-body pb-3">
                                    <div class="form-group">
                                        <img src="@Model.BlogResim" style="width:-webkit-fill-available" />
                                    </div>
                                </div>
                            }


                            <div class="card-body pb-3">
                                <div class="form-group">
                                    <label name="ResimFile" class="control-label">Sayfa Resmi</label>
                                    @*<input asp-for="KucukResim" class="form-control" />*@

                                    <input type="file" name="ResimFile" class="file-input" multiple="multiple" data-show-upload="false" data-show-caption="true" data-show-preview="true">


                                </div>
                            </div>
                        </div>
                    </div>
            
        </form>
    </div>
</div>
</div></div>

@section Scripts {
            <script src="~/assets/js/vendor/uploaders/fileinput/fileinput.min.js"></script>
        <script src="~/assets/js/vendor/uploaders/fileinput/plugins/sortable.min.js"></script>
        <script src="~/assets/demo/pages/uploader_bootstrap.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
