<!DOCTYPE html>
<html lang="en">

<head>
    <!-- metas -->
    <meta charset="utf-8" />
    <meta name="author" content="Website Design Templates" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="keywords" content="Transport and Logistics HTML Template" />
    <meta name="description" content="Upfront - Transport and Logistics HTML Template" />

    <!-- title  -->
    <title>Upfront - Transport and Logistics HTML Template</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="img/logos/favicon.png" />
    <link rel="apple-touch-icon" href="img/logos/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/logos/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/logos/apple-touch-icon-114x114.png" />

    <!-- plugins -->
    <link rel="stylesheet" href="css/plugins.css">

    <!-- search css -->
    <link rel="stylesheet" href="search/search.css">

    <!-- quform css -->
    <link rel="stylesheet" href="quform/css/base.css">

    <!-- core style css -->
    <link href="css/styles.css" rel="stylesheet">

    <!-- custom css -->
    <link href="css/custom.css" rel="stylesheet">

</head>

<body>

    <!-- PAGE LOADING
    ================================================== -->
    <div id="preloader"></div>

    <!-- MAIN WRAPPER
    ================================================== -->
    <div class="main-wrapper">

        <!-- HEADER
    ================================================== -->
        <header class="header-style1 menu_area-light">

            <div class="navbar-default border-bottom border-color-light-white">

                <!-- start top search -->
                <div class="top-search bg-primary">
                    <div class="container-fluid px-lg-1-6 px-xl-2-5 px-xxl-2-9">
                        <form class="search-form" action="search.html" method="GET" accept-charset="utf-8">
                            <div class="input-group">
                                <span class="input-group-addon cursor-pointer">
                                    <button class="search-form_submit fas fa-search text-white" type="submit"></button>
                                </span>
                                <input type="text" class="search-form_input form-control" name="s" autocomplete="off" placeholder="Type &amp; hit enter...">
                                <span class="input-group-addon close-search mt-1"><i class="fas fa-times"></i></span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end top search -->

                <div class="container-fluid px-lg-1-6 px-xl-2-5 px-xxl-2-9">
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-12">
                            <div class="menu_area alt-font">
                                <nav class="navbar navbar-expand-lg navbar-light p-0">
                                    <div class="navbar-header navbar-header-custom">
                                        <!-- start logo -->
                                        <a href="index.html" class="navbar-brand logochange"><img id="logo" src="Template/img/logos/logo-inner.png" alt="logo" /></a>
                                        <!-- end logo -->
                                    </div>

                                    <div class="navbar-toggler bg-primary"></div>

                                    <!-- menu area -->
                                    <ul class="navbar-nav ms-auto" id="nav" style="display: none;">
                                        <li>
                                            <a href="#!">Home</a>
                                            <ul>
                                                <li><a href="index.html">Home 01</a></li>
                                                <li><a href="index-02.html">Home 02</a></li>
                                                <li><a href="index-03.html">Home 03</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#!">Pages</a>
                                            <ul>
                                                <li><a href="about.html">About Us</a></li>
                                                <li><a href="our-history.html">Our History</a></li>
                                                <li><a href="pricing.html">Pricing Plan</a></li>
                                                <li><a href="team.html">Our Team</a></li>
                                                <li><a href="faq.html">FAQ</a></li>
                                                <li><a href="contact.html">Contact</a></li>
                                                <li><a href="404.html">Page 404</a></li>
                                                <li><a href="coming-soon.html">Coming Soon</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#!">Services</a>
                                            <ul>
                                                <li><a href="services.html">All Services</a></li>
                                                <li><a href="air-freight.html">Air Freight</a></li>
                                                <li><a href="road-freight.html">Road Freight</a></li>
                                                <li><a href="ocean-freight.html">Ocean Freight</a></li>
                                                <li><a href="rail-freight.html">Rail Freight</a></li>
                                                <li><a href="warehousing.html">Warehousing</a></li>
                                                <li><a href="logistic-solution.html">Logistic Solution</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#!">Projects</a>
                                            <ul>
                                                <li><a href="our-projects.html">Our Projects</a></li>
                                                <li><a href="project-details.html">Project Details</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#!">Blog</a>
                                            <ul>
                                                <li><a href="blog-grid.html">Blog Grid</a></li>
                                                <li><a href="blog-list.html">Blog List</a></li>
                                                <li><a href="blog-detail.html">Blog Detail</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#!">Elements</a>
                                            <ul class="row megamenu">
                                                <li class="col-lg-3 col-sm-12">
                                                    <span class="mb-0 mb-lg-3 d-block py-2 p-lg-0 px-4 px-lg-0 text-uppercase sub-title font-weight-700 display-30">Elements 01</span>
                                                    <ul>
                                                        <li><a href="accordion.html"><i class="fas fa-sliders-h me-2"></i>Accordion</a></li>
                                                        <li><a href="alerts.html"><i class="far fa-bell me-2"></i>Alerts</a></li>
                                                        <li><a href="blockquotes.html"><i class="fas fa-vector-square me-2"></i>Blockquotes</a></li>
                                                        <li><a href="buttons.html"><i class="fas fa-link me-2"></i>Buttons</a></li>
                                                        <li><a href="call-to-action.html"><i class="far fa-square me-2"></i>Call to Action</a></li>
                                                        <li><a href="carousel-slider.html"><i class="far fa-images me-2"></i>Carousel Slider</a></li>
                                                    </ul>
                                                </li>
                                                <li class="col-lg-3 col-sm-12">
                                                    <span class="mb-0 mb-lg-3 d-block py-2 p-lg-0 px-4 px-lg-0 text-uppercase sub-title font-weight-700 display-30">Elements 02</span>
                                                    <ul>
                                                        <li><a href="count-down.html"><i class="far fa-flag me-2"></i>Count Down</a></li>
                                                        <li><a href="counter.html"><i class="fas fa-compress me-2"></i>Counters</a></li>
                                                        <li><a href="dropcaps.html"><i class="far fa-closed-captioning me-2"></i>Dropcaps</a></li>
                                                        <li><a href="form-elements.html"><i class="fab fa-wpforms me-2"></i>Form Elements</a></li>
                                                        <li><a href="font-icons.html"><i class="far fa-check-square me-2"></i>Font Icons</a></li>
                                                        <li><a href="grid-system.html"><i class="fas fa-th me-2"></i>Grid System</a></li>
                                                    </ul>
                                                </li>
                                                <li class="col-lg-3 col-sm-12">
                                                    <span class="mb-0 mb-lg-3 d-block py-2 p-lg-0 px-4 px-lg-0 text-uppercase sub-title font-weight-700 display-30">Elements 03</span>
                                                    <ul>
                                                        <li><a href="header-1.html"><i class="fas fa-compress me-2"></i>Header Style1</a></li>
                                                        <li><a href="header-2.html"><i class="fas fa-compress-arrows-alt me-2"></i>Header Style2</a></li>
                                                        <li><a href="highlights.html"><i class="fas fa-highlighter me-2"></i>Highlights</a></li>
                                                        <li><a href="icon-with-text.html"><i class="fab fa-fonticons-fi me-2"></i>Icon With Text</a></li>
                                                        <li><a href="list-styles.html"><i class="fas fa-list-ul me-2"></i>List Styles</a></li>
                                                        <li><a href="media-object.html"><i class="fas fa-photo-video me-2"></i>Media Object</a></li>
                                                    </ul>
                                                </li>
                                                <li class="col-lg-3 col-sm-12">
                                                    <span class="mb-0 mb-lg-3 d-block py-2 p-lg-0 px-4 px-lg-0 text-uppercase sub-title font-weight-700 display-30">Elements 04</span>
                                                    <ul>
                                                        <li><a href="modal.html"><i class="fas fa-expand me-2"></i>Modal</a></li>
                                                        <li><a href="pagination.html"><i class="far fa-caret-square-right me-2"></i>Pagination</a></li>
                                                        <li><a href="progress-bar.html"><i class="fas fa-tasks me-2"></i>Progress Bars</a></li>
                                                        <li><a href="tables.html"><i class="fas fa-table me-2"></i>Tables</a></li>
                                                        <li><a href="typography.html"><i class="fas fa-text-height me-2"></i>Typography</a></li>
                                                        <li><a href="videos.html"><i class="fas fa-video me-2"></i>Videos</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <!-- end menu area -->
                                    <!-- start attribute navigation -->
                                    <div class="attr-nav align-items-xl-center ms-xl-auto main-font">
                                        <ul>
                                            <li class="search"><a href="#!"><i class="fas fa-search"></i></a></li>
                                            <li class="d-none d-xl-inline-block"><a href="contact.html" class="butn md"><span class="text-white">Free Quote</span></a></li>
                                        </ul>
                                    </div>
                                    <!-- end attribute navigation -->
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </header>

        <!-- BANNER
    ================================================== -->
        <section class="jarallax p-0 top-position1 full-screen video-banner" style="background-image: url(img/banner/video-cover.jpg);" data-jarallax data-speed="0.8" data-video-src="https://www.youtube.com/watch?v=YJpwBG6IZ34">
            <div class="container-fluid d-flex flex-column pt-5 pb-2 py-sm-8 py-md-0 position-relative z-index-9">
                <div class="row align-items-center min-vh-100">
                    <div class="col-12 mb-1-9 mb-lg-0 py-5 px-4 px-sm-8 px-md-10 px-lg-14">
                        <div class="section-title position-relative">
                            <span class="sub-title wow text-animation" data-in-effect="fadeInRight">Since 1989</span>
                        </div>
                        <h1 class="mb-0"><strong>Transport</strong> <strong>& Logistics</strong></h1>
                    </div>

                </div>
            </div>
        </section>

        <!-- ABOUT
    ================================================== -->
        <section>
            <div class="container">
                <div class="row align-items-xl-center">
                    <div class="col-lg-6 mb-3 mb-lg-0 wow fadeIn" data-wow-delay="200ms">
                        <div class="position-relative">
                            <div class="row pe-xl-2-3">
                                <div class="col-6 position-relative z-index-3">
                                    <div class="image-hover">
                                        <img src="img/content/about-05.jpg" class="about-img1" alt="...">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="position-relative z-index-3">
                                        <div class="image-hover">
                                            <img src="img/content/about-06.jpg" class="about-img2" alt="...">
                                        </div>
                                        <div class="text-center mt-1-9 mt-sm-2-9">
                                            <h2 class="display-lg-6 mb-2"><span class="countup">48</span>+</h2>
                                            <p class="mb-0 text-secondary font-weight-500">Clients Worldwide</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img src="img/content/map.png" class="bottom-0 right position-absolute" alt="...">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="ps-xl-2-3">
                            <div class="section-title mb-2-2 position-relative">
                                <span class="sub-title wow text-animation" data-in-effect="fadeInRight">About Us</span>
                                <h2 class="h1">Upfront transport and logistics around the world</h2>
                            </div>
                            <div class="mb-2-6">
                                <p class="mb-2-2 lead wow fadeInUp" data-wow-delay="100ms">We pride ourselves on presenting the best delivery and transport offerings to be had allover the world.</p>
                                <ul class="list-style2">
                                    <li class="wow fadeInUp" data-wow-delay="200ms">Quality Control System</li>
                                    <li class="wow fadeInUp" data-wow-delay="300ms">100% Satisfaction Guarantee</li>
                                    <li class="wow fadeInUp" data-wow-delay="400ms">Highly Professional Staff</li>
                                </ul>
                            </div>
                            <div class="d-sm-flex align-items-center wow fadeInUp" data-wow-delay="600ms">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <img src="img/avatar/avatar-01.jpg" alt="..." class="rounded-circle">
                                    </div>
                                    <div class="flex-grow-1 ms-2">
                                        <h5>Stephen Ayala</h5>
                                        <span>CEO</span>
                                    </div>
                                </div>
                                <div class="ms-3 ms-xl-5 mt-3 mt-sm-0">
                                    <img src="img/content/signature.png" alt="...">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- SERVICES
    ================================================== -->
        <section class="pt-0">
            <div class="container">
                <div class="row mt-n1-9 pt-1-6">
                    <div class="col-sm-6 col-xl-3 mt-1-9 wow fadeInUp" data-wow-delay="200ms">
                        <div class="card card-style1">
                            <div class="card-body">
                                <span class="mb-4 d-block"><img src="img/icons/icon-01-dark.png" alt="..."></span>
                                <h3 class="h5 mb-3 mt-2"><a href="#!">Air Freight</a></h3>
                                <div class="card-info">
                                    <p class="mb-0">The services of our company to fulfill the expectations of our great customers.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3 mt-1-9 wow fadeInUp" data-wow-delay="400ms">
                        <div class="card card-style1">
                            <div class="card-body">
                                <span class="mb-4 d-block"><img src="img/icons/icon-02-dark.png" alt="..."></span>
                                <h3 class="h5 mb-3 mt-2"><a href="#!">Road Freight</a></h3>
                                <div class="card-info">
                                    <p class="mb-0">The services of our company to fulfill the expectations of our great customers.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3 mt-1-9 wow fadeInUp" data-wow-delay="600ms">
                        <div class="card card-style1">
                            <div class="card-body">
                                <span class="mb-4 d-block"><img src="img/icons/icon-03-dark.png" alt="..."></span>
                                <h3 class="h5 mb-3 mt-2"><a href="#!">Ocean Freight</a></h3>
                                <div class="card-info">
                                    <p class="mb-0">The services of our company to fulfill the expectations of our great customers.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3 mt-1-9 wow fadeInUp" data-wow-delay="800ms">
                        <div class="card card-style1">
                            <div class="card-body">
                                <span class="mb-4 d-block"><img src="img/icons/icon-04-dark.png" alt="..."></span>
                                <h3 class="h5 mb-3 mt-2"><a href="#!">Rail Freight</a></h3>
                                <div class="card-info">
                                    <p class="mb-0">The services of our company to fulfill the expectations of our great customers.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- WHY CHOOSE US
    ================================================== -->
        <section class="overflow-visible pb-lg-0 why-choose-01 cover-background bg-img dark-overlay" data-overlay-dark="85" data-background="img/bg/bg-04.jpg">
            <div class="container">
                <div class="row align-items-end">
                    <div class="col-lg-7 wow fadeIn" data-wow-delay="200ms">
                        <div class="pe-xl-2-9 right-content">
                            <div class="section-title white mb-1-9 position-relative">
                                <span class="sub-title wow text-animation" data-in-effect="fadeInRight">Expertise Areas</span>
                                <h2 class="text-white h1 mb-0">Few reasons why you choose us!</h2>
                            </div>
                            <p class="mb-2-2 lead text-white wow fadeInUp" data-wow-delay="100ms">Our agency can only be as strong as our peopleagenhave their businesses Duis aute irure dolorreprehDuis auteirur olor in reprehenderit in voluptate.</p>
                            <div class="row mb-2-2 mb-xl-7">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <ul class="list-style2">
                                        <li class="text-white wow fadeInUp" data-wow-delay="100ms">100 % Compensations</li>
                                        <li class="text-white wow fadeInUp" data-wow-delay="200ms">Experienced Team</li>
                                        <li class="text-white wow fadeInUp" data-wow-delay="300ms">Support 24/7</li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-style2">
                                        <li class="text-white wow fadeInUp" data-wow-delay="400ms">Online Tracking</li>
                                        <li class="text-white wow fadeInUp" data-wow-delay="500ms">Cargo Insurance</li>
                                        <li class="text-white wow fadeInUp" data-wow-delay="600ms">Safe Warehouse</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="bg-secondary align-items-center p-1-6 p-sm-1-9 rounded-style">
                                <div class="row">
                                    <div class="col-6 col-md-3">
                                        <img src="img/partners/partner-01.png" alt="...">
                                    </div>
                                    <div class="col-6 col-md-3">
                                        <img src="img/partners/partner-02.png" alt="...">
                                    </div>
                                    <div class="col-6 col-md-3">
                                        <img src="img/partners/partner-03.png" alt="...">
                                    </div>
                                    <div class="col-6 col-md-3">
                                        <img src="img/partners/partner-04.png" alt="...">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 d-none d-lg-block wow fadeIn" data-wow-delay="400ms">
                        <div class="ps-xl-2-3 left-img position-relative">
                            <div class="image-hover image-radius-shape">
                                <img src="img/content/why-us-01.jpg" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- PROCESS
    ================================================== -->
        <section class="bg-light border-bottom-radius mx-lg-7 pt-lg-22">
            <div class="container-fluid">
                <div class="row mt-n1-9">
                    <div class="col-sm-6 col-lg-3 mt-1-9 wow fadeIn" data-wow-delay="200ms">
                        <div class="process-style2 first">
                            <div class="process-arrow">
                                <div class="process-icon-box">
                                    <img src="img/icons/icon-17.png" alt="...">
                                </div>
                                <div class="process-contnet">
                                    <h4 class="h5 mb-0">Select Freight</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mt-1-9 wow fadeIn" data-wow-delay="400ms">
                        <div class="process-style2">
                            <div class="process-arrow">
                                <div class="process-icon-box">
                                    <img src="img/icons/icon-18.png" alt="...">
                                </div>
                                <div class="process-contnet">
                                    <h4 class="h5 mb-0">Select Invoice</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mt-1-9 wow fadeIn" data-wow-delay="600ms">
                        <div class="process-style2">
                            <div class="process-arrow">
                                <div class="process-icon-box">
                                    <img src="img/icons/icon-19.png" alt="...">
                                </div>
                                <div class="process-contnet">
                                    <h4 class="h5 mb-0">Secure Payment</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mt-1-9 wow fadeIn" data-wow-delay="800ms">
                        <div class="process-style2 last">
                            <div class="process-arrow">
                                <div class="process-icon-box">
                                    <img src="img/icons/icon-20.png" alt="...">
                                </div>
                                <div class="process-contnet">
                                    <h4 class="h5 mb-0">Fast Delivered</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- PORTFOLIO
    ================================================== -->
        <section>
            <div class="section-title mb-2-3 mb-md-6 text-center">
                <span class="sub-title wow text-animation" data-in-effect="fadeInRight">Our Project</span>
                <h2 class="h1">What we have done</h2>
            </div>
            <div class="mx-3 mx-lg-5">
                <div class="portfolio-carousel owl-carousel owl-theme">
                    <div class="card card-style3">
                        <div class="card-flip-details">
                            <div class="card-flip-front"><img class="card-img" src="img/portfolio/portfolio-01.jpg" alt="Portfolio thumb"></div><a class="card-flip-back" href="project-details.html">
                                <div class="card-body">
                                    <div class="card-body-inner">
                                        <h3 class="h5 mb-2">Road Transportation</h3>
                                        <p class="fs-sm text-muted">Road</p>
                                        <p class="butn secondary sm mb-0"><span>View project</span></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="card card-style3">
                        <div class="card-flip-details">
                            <div class="card-flip-front"><img class="card-img" src="img/portfolio/portfolio-02.jpg" alt="Portfolio thumb"></div><a class="card-flip-back" href="project-details.html">
                                <div class="card-body">
                                    <div class="card-body-inner">
                                        <h3 class="h5 mb-2">Rail Transportation</h3>
                                        <p class="fs-sm text-muted">Rail</p>
                                        <p class="butn secondary sm mb-0"><span>View project</span></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="card card-style3">
                        <div class="card-flip-details">
                            <div class="card-flip-front"><img class="card-img" src="img/portfolio/portfolio-03.jpg" alt="Portfolio thumb"></div><a class="card-flip-back" href="project-details.html">
                                <div class="card-body">
                                    <div class="card-body-inner">
                                        <h3 class="h5 mb-2">Air Transportation</h3>
                                        <p class="fs-sm text-muted">Air</p>
                                        <p class="butn secondary sm mb-0"><span>View project</span></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="card card-style3">
                        <div class="card-flip-details">
                            <div class="card-flip-front"><img class="card-img" src="img/portfolio/portfolio-04.jpg" alt="Portfolio thumb"></div><a class="card-flip-back" href="project-details.html">
                                <div class="card-body">
                                    <div class="card-body-inner">
                                        <h3 class="h5 mb-2">Logistic Service</h3>
                                        <p class="fs-sm text-muted">Logistic</p>
                                        <p class="butn secondary sm mb-0"><span>View project</span></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="card card-style3">
                        <div class="card-flip-details">
                            <div class="card-flip-front"><img class="card-img" src="img/portfolio/portfolio-05.jpg" alt="Portfolio thumb"></div><a class="card-flip-back" href="project-details.html">
                                <div class="card-body">
                                    <div class="card-body-inner">
                                        <h3 class="h5 mb-2">Ship Transportation</h3>
                                        <p class="fs-sm text-muted">Ship</p>
                                        <p class="butn secondary sm mb-0"><span>View project</span></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="card card-style3">
                        <div class="card-flip-details">
                            <div class="card-flip-front"><img class="card-img" src="img/portfolio/portfolio-06.jpg" alt="Portfolio thumb"></div><a class="card-flip-back" href="project-details.html">
                                <div class="card-body">
                                    <div class="card-body-inner">
                                        <h3 class="h5 mb-2">Ship Transportation</h3>
                                        <p class="fs-sm text-muted">Ship</p>
                                        <p class="butn secondary sm mb-0"><span>View project</span></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- PRICING
    ================================================== -->
        <section class="p-0 mt-n1-9">
            <div class="container position-relative z-index-9">
                <div class="section-title mb-2-3 mb-md-6 text-center wow fadeInUp" data-wow-delay="200ms">
                    <span class="sub-title wow text-animation" data-in-effect="fadeInRight">pricing tables</span>
                    <h2 class="h1">Choose your best offer</h2>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="py-1-9 px-4 border-top border-bottom wow fadeInUp" data-wow-delay="200ms">
                            <div class="row align-items-center">
                                <div class="col-md-3 col-lg-2 mb-2 mb-md-3 mb-lg-0">
                                    <h5 class="mb-0">Standard</h5>
                                </div>
                                <div class="col-md-9 col-lg-5 mb-1 mb-md-3 mb-lg-0"><span>10 warehouses, Carrier invoice audit</span></div>
                                <div class="col-md-3 col-lg-2 mb-2 mb-md-0">
                                    <div><span class="display-16 display-md-13 display-lg-11 display-xl-9 font-weight-700 text-secondary">55</span> <span class="display-28 display-md-25 text-dark font-weight-500">USD</span></div>
                                </div>
                                <div class="col-md-9 col-lg-3 text-lg-end">
                                    <a href="#!" class="butn"><span>Get Started</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="py-1-9 px-4 border-bottom wow fadeInUp bg-light" data-wow-delay="400ms">
                            <div class="row align-items-center">
                                <div class="col-md-3 col-lg-2 mb-2 mb-md-3 mb-lg-0">
                                    <h5 class="mb-0">Popular</h5>
                                </div>
                                <div class="col-md-9 col-lg-5 mb-1 mb-md-3 mb-lg-0"><span>10 warehouses, Carrier invoice audit, 250 freight shipments</span></div>
                                <div class="col-md-3 col-lg-2 mb-2 mb-md-0">
                                    <div><span class="display-16 display-md-13 display-lg-11 display-xl-9 font-weight-700 text-secondary">100</span> <span class="display-28 display-md-25 text-dark font-weight-500">USD</span></div>
                                </div>
                                <div class="col-md-9 col-lg-3 text-lg-end">
                                    <a href="#!" class="butn"><span>Get Started</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="pt-1-9 px-4 wow fadeInUp" data-wow-delay="600ms">
                            <div class="row align-items-center">
                                <div class="col-md-3 col-lg-2 mb-2 mb-md-3 mb-lg-0">
                                    <h5 class="mb-0">Premium</h5>
                                </div>
                                <div class="col-md-9 col-lg-5 mb-1 mb-md-3 mb-lg-0"><span>Unlimited freight, Multiple warehouses, Discount price rates</span></div>
                                <div class="col-md-3 col-lg-2 mb-2 mb-md-0">
                                    <div><span class="display-16 display-md-13 display-lg-11 display-xl-9 font-weight-700 text-secondary">199</span> <span class="display-28 display-md-25 text-dark font-weight-500">USD</span></div>
                                </div>
                                <div class="col-md-9 col-lg-3 text-lg-end">
                                    <a href="#!" class="butn"><span>Get Started</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- TESTIMONIALS
    ================================================== -->
        <section class="wow fadeIn" data-wow-delay="200ms">
            <div class="container">
                <div class="bg-img cover-background rounded-style py-8 py-lg-10 py-xl-12 testimonial-style" data-background="img/bg/bg-07.jpg">
                    <div class="row justify-content-center justify-content-xl-start">
                        <div class="col-10 col-lg-7 col-xl-4">
                            <div class="testimonial-details rounded-style p-2-2 p-sm-5">
                                <i class="ti-quote-right text-white bg-secondary display-18 mb-3 d-inline-block theme-circle"></i>
                                <p class="lead mb-4 mb-sm-5">My shipment was picked up and delivered with excellent service! Needless to say I am extremely satisfied with the results. Will definitely use this service again.</p>
                                <h6 class="mb-0">Bruce Hunsaker <small class="text-secondary"> - Freight Conductor</small></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- FOOTER
    ================================================== -->
        <footer class="position-relative">
            <div class="container z-index-9 position-relative">
                <div class="row py-8">
                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 wow fadeIn" data-wow-delay="200ms">
                        <div class="footer-logo mb-1-9">
                            <img src="img/logos/footer-light-logo.png" alt="...">
                        </div>
                        <ul class="list-unstyled mb-0">
                            <li class="mb-3 d-flex align-items-baseline">
                                <a href="#!" class="text-white text-primary-hover"><i class="far fa-envelope text-primary display-25 me-4"></i>info@yourdomain.com</a>
                            </li>
                            <li class="mb-3 d-flex align-items-baseline">
                                <a href="#!" class="text-white text-primary-hover"><i class="fas fa-mobile-alt text-primary display-25 me-4"></i>(+44) 123 456 789</a>
                            </li>
                            <li class="text-white d-flex align-items-baseline">
                                <i class="fas fa-map-marker-alt text-primary display-25 me-4"></i>Great North Town.
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-xl-2 col-md-3 col-sm-6 mt-2-2 mt-sm-0 wow fadeIn" data-wow-delay="350ms">
                        <h3 class="text-white h5 mb-3">Quick links</h3>
                        <ul class="footer-list list-unstyled">
                            <li><a href="about.html">About</a></li>
                            <li><a href="project-details.html">Portfolio</a></li>
                            <li><a href="our-projects.html">Gallery</a></li>
                            <li><a href="blog-list.html">Blog</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-xl-2 col-md-3 col-sm-6 mt-2-2 mt-md-0 wow fadeIn" data-wow-delay="500ms">
                        <h3 class="text-white h5 mb-3">Support</h3>
                        <ul class="footer-list list-unstyled">
                            <li><a href="faq.html">FAQ</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="pricing.html">Pricing</a></li>
                            <li><a href="team.html">Expert Team</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-xl-4 col-md-12 col-sm-6 offset-xl-1 wow fadeIn mt-2-2 mt-lg-0" data-wow-delay="650ms">
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1 ms-lg-3">
                                <h3 class="text-white h5">Subscribe to our Newsletter!</h3>
                                <p class="fs-sm mb-4 text-white opacity4">Don’t miss any relevant vacancies!</p>
                            </div>
                        </div>
                        <form class="quform newsletter-rounded w-lg-90 mx-auto ms-lg-0" action="quform/newsletter-two.php" method="post" enctype="multipart/form-data" onclick="">

                            <div class="quform-elements">

                                <div class="row">

                                    <!-- Begin Text input element -->
                                    <div class="col-md-12">
                                        <div class="quform-element m-0">
                                            <div class="quform-input">
                                                <input class="rounded-pill form-control" id="email_address" type="text" name="email_address" placeholder="Subscribe with us">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Text input element -->
                                    <!-- Begin Submit button -->
                                    <div class="col-md-12">
                                        <div class="quform-submit-inner">
                                            <button class="btn btn-white text-primary m-0 px-4" type="submit"><i class="fas fa-paper-plane"></i></button>
                                        </div>
                                        <div class="quform-loading-wrap"><span class="quform-loading"></span></div>
                                    </div>
                                    <!-- End Submit button -->

                                </div>

                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="border-top border-color-light-white z-index-9 position-relative wow fadeIn" data-wow-delay="700ms">
                <div class="container">
                    <div class="row align-items-center py-3">
                        <div class="col-md-7 col-lg-6 text-center text-md-start order-2 order-md-1">
                            <p class="d-inline-block text-white mb-0">&copy; <span class="current-year"></span> Upfront Powered by <a href="#!" class="text-primary text-secondary-hover">Website Design Templates</a></p>
                        </div>
                        <div class="col-md-5 col-lg-6 text-center text-md-end mb-3 mb-md-0 order-1 order-md-2">
                            <ul class="social-icon-style1 mb-0">
                                <li>
                                    <a href="#!"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="#!"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#!"><i class="fab fa-youtube"></i></a>
                                </li>
                                <li>
                                    <a href="#!"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>

    <!-- SCROLL TO TOP
    ================================================== -->
    <a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>

    <!-- all js include start -->

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>

    <!-- popper js -->
    <script src="js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="js/bootstrap.min.js"></script>

    <!-- search -->
    <script src="search/search.js"></script>

    <!-- navigation -->
    <script src="js/nav-menu.js"></script>

    <!-- tab -->
    <script src="js/easy.responsive.tabs.js"></script>

    <!-- owl carousel -->
    <script src="js/owl.carousel.js"></script>

    <!-- jarallax -->
    <script src="js/jarallax.min.js"></script>

    <!-- jarallax video -->
    <script src="js/jarallax-video.js"></script>

    <!-- jquery.counterup.min -->
    <script src="js/jquery.counterup.min.js"></script>

    <!-- wow js -->
    <script src="js/wow.js"></script>

    <!--  clipboard js -->
    <script src="js/clipboard.min.js"></script>

    <!--  prism js -->
    <script src="js/prism.js"></script>

    <!-- stellar js -->
    <script src="js/jquery.stellar.min.js"></script>

    <!-- countdown js -->
    <script src="js/countdown.js"></script>

    <!-- jquery.magnific-popup js -->
    <script src="js/jquery.magnific-popup.min.js"></script>

    <!-- lightgallery js -->
    <script src="js/lightgallery-all.js"></script>

    <!-- mousewheel js -->
    <script src="js/jquery.mousewheel.min.js"></script>

    <!-- waypoints js -->
    <script src="js/waypoints.min.js"></script>

    <!-- lettering js -->
    <script src="js/jquery.lettering.js"></script>

    <!-- textillate js -->
    <script src="js/jquery.textillate.js"></script>

    <!-- custom scripts -->
    <script src="js/main.js"></script>

    <!-- form plugins js -->
    <script src="quform/js/plugins.js"></script>

    <!-- form scripts js -->
    <script src="quform/js/scripts.js"></script>

    <!-- all js include end -->

</body>

</html>