<!DOCTYPE html>
<html lang="en">

<head>
    <!-- metas -->
    <meta charset="utf-8" />
    <meta name="author" content="Website Design Templates" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="keywords" content="Transport and Logistics HTML Template" />
    <meta name="description" content="Upfront - Transport and Logistics HTML Template" />

    <!-- title  -->
    <title>Upfront - Transport and Logistics HTML Template</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="img/logos/favicon.png" />
    <link rel="apple-touch-icon" href="img/logos/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/logos/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/logos/apple-touch-icon-114x114.png" />

    <!-- plugins -->
    <link rel="stylesheet" href="css/plugins.css">

    <!-- search css -->
    <link rel="stylesheet" href="search/search.css">

    <!-- quform css -->
    <link rel="stylesheet" href="quform/css/base.css">

    <!-- core style css -->
    <link href="css/styles.css" rel="stylesheet">

    <!-- custom css -->
    <link href="css/custom.css" rel="stylesheet">

</head>

<body>

    <!-- PAGE LOADING
    ================================================== -->
    <div id="preloader"></div>

    <!-- MAIN WRAPPER
    ================================================== -->
    <div class="main-wrapper">

        <!-- HEADER
        ================================================== -->
        <header class="header-style2">

            <div class="top-bar bg-primary">
                <div class="container-fluid px-lg-1-6 px-xl-2-5 px-xxl-2-9">
                    <div class="row">
                        <div class="col-md-9 col-xs-12">
                            <div class="top-bar-info">
                                <ul class="ps-0">
                                    <li><i class="ti-mobile"></i>(+123) 456 7890</li>
                                    <li class="d-none d-sm-inline-block"><i class="ti-email"></i>addyour@emailhere</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3 d-none d-md-block">
                            <ul class="top-social-icon ps-0">
                                <li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#!"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="navbar-default border-bottom border-color-light-white">

                <!-- start top search -->
                <div class="top-search bg-secondary">
                    <div class="container-fluid px-lg-1-6 px-xl-2-5 px-xxl-2-9">
                        <form class="search-form" action="search.html" method="GET" accept-charset="utf-8">
                            <div class="input-group">
                                <span class="input-group-addon cursor-pointer">
                                    <button class="search-form_submit fas fa-search text-white" type="submit"></button>
                                </span>
                                <input type="text" class="search-form_input form-control" name="s" autocomplete="off" placeholder="Type & hit enter...">
                                <span class="input-group-addon close-search mt-1"><i class="fas fa-times"></i></span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end top search -->

                <div class="container-fluid px-lg-1-6 px-xl-2-5 px-xxl-2-9">
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-12">
                            <div class="menu_area alt-font">
                                <nav class="navbar navbar-expand-lg navbar-light p-0">
                                    <div class="navbar-header navbar-header-custom">
                                        <!-- start logo -->
                                        <a href="index.html" class="navbar-brand logodefault"><img id="logo" src="img/logos/logo.png" alt="logo" /></a>
                                        <!-- end logo -->
                                    </div>

                                    <div class="navbar-toggler bg-primary"></div>

                                    <!-- menu area -->
                                    <ul class="navbar-nav ms-auto" id="nav" style="display: none;">
                                        <li>
                                            <a href="#!">Home</a>
                                            <ul>
                                                <li><a href="index.html">Home 01</a></li>
                                                <li><a href="index-02.html">Home 02</a></li>
                                                <li><a href="index-03.html">Home 03</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#!">Pages</a>
                                            <ul>
                                                <li><a href="about.html">About Us</a></li>
                                                <li><a href="our-history.html">Our History</a></li>
                                                <li><a href="pricing.html">Pricing Plan</a></li>
                                                <li><a href="team.html">Our Team</a></li>
                                                <li><a href="faq.html">FAQ</a></li>
                                                <li><a href="contact.html">Contact</a></li>
                                                <li><a href="404.html">Page 404</a></li>
                                                <li><a href="coming-soon.html">Coming Soon</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#!">Services</a>
                                            <ul>
                                                <li><a href="services.html">All Services</a></li>
                                                <li><a href="air-freight.html">Air Freight</a></li>
                                                <li><a href="road-freight.html">Road Freight</a></li>
                                                <li><a href="ocean-freight.html">Ocean Freight</a></li>
                                                <li><a href="rail-freight.html">Rail Freight</a></li>
                                                <li><a href="warehousing.html">Warehousing</a></li>
                                                <li><a href="logistic-solution.html">Logistic Solution</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#!">Projects</a>
                                            <ul>
                                                <li><a href="our-projects.html">Our Projects</a></li>
                                                <li><a href="project-details.html">Project Details</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#!">Blog</a>
                                            <ul>
                                                <li><a href="blog-grid.html">Blog Grid</a></li>
                                                <li><a href="blog-list.html">Blog List</a></li>
                                                <li><a href="blog-detail.html">Blog Detail</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#!">Elements</a>
                                            <ul class="row megamenu">
                                                <li class="col-lg-3 col-sm-12">
                                                    <span class="mb-0 mb-lg-3 d-block py-2 p-lg-0 px-4 px-lg-0 text-uppercase sub-title font-weight-700 display-30">Elements 01</span>
                                                    <ul>
                                                        <li><a href="accordion.html"><i class="fas fa-sliders-h me-2"></i>Accordion</a></li>
                                                        <li><a href="alerts.html"><i class="far fa-bell me-2"></i>Alerts</a></li>
                                                        <li><a href="blockquotes.html"><i class="fas fa-vector-square me-2"></i>Blockquotes</a></li>
                                                        <li><a href="buttons.html"><i class="fas fa-link me-2"></i>Buttons</a></li>
                                                        <li><a href="call-to-action.html"><i class="far fa-square me-2"></i>Call to Action</a></li>
                                                        <li><a href="carousel-slider.html"><i class="far fa-images me-2"></i>Carousel Slider</a></li>
                                                    </ul>
                                                </li>
                                                <li class="col-lg-3 col-sm-12">
                                                    <span class="mb-0 mb-lg-3 d-block py-2 p-lg-0 px-4 px-lg-0 text-uppercase sub-title font-weight-700 display-30">Elements 02</span>
                                                    <ul>
                                                        <li><a href="count-down.html"><i class="far fa-flag me-2"></i>Count Down</a></li>
                                                        <li><a href="counter.html"><i class="fas fa-compress me-2"></i>Counters</a></li>
                                                        <li><a href="dropcaps.html"><i class="far fa-closed-captioning me-2"></i>Dropcaps</a></li>
                                                        <li><a href="form-elements.html"><i class="fab fa-wpforms me-2"></i>Form Elements</a></li>
                                                        <li><a href="font-icons.html"><i class="far fa-check-square me-2"></i>Font Icons</a></li>
                                                        <li><a href="grid-system.html"><i class="fas fa-th me-2"></i>Grid System</a></li>
                                                    </ul>
                                                </li>
                                                <li class="col-lg-3 col-sm-12">
                                                    <span class="mb-0 mb-lg-3 d-block py-2 p-lg-0 px-4 px-lg-0 text-uppercase sub-title font-weight-700 display-30">Elements 03</span>
                                                    <ul>
                                                        <li><a href="header-1.html"><i class="fas fa-compress me-2"></i>Header Style1</a></li>
                                                        <li><a href="header-2.html"><i class="fas fa-compress-arrows-alt me-2"></i>Header Style2</a></li>
                                                        <li><a href="highlights.html"><i class="fas fa-highlighter me-2"></i>Highlights</a></li>
                                                        <li><a href="icon-with-text.html"><i class="fab fa-fonticons-fi me-2"></i>Icon With Text</a></li>
                                                        <li><a href="list-styles.html"><i class="fas fa-list-ul me-2"></i>List Styles</a></li>
                                                        <li><a href="media-object.html"><i class="fas fa-photo-video me-2"></i>Media Object</a></li>
                                                    </ul>
                                                </li>
                                                <li class="col-lg-3 col-sm-12">
                                                    <span class="mb-0 mb-lg-3 d-block py-2 p-lg-0 px-4 px-lg-0 text-uppercase sub-title font-weight-700 display-30">Elements 04</span>
                                                    <ul>
                                                        <li><a href="modal.html"><i class="fas fa-expand me-2"></i>Modal</a></li>
                                                        <li><a href="pagination.html"><i class="far fa-caret-square-right me-2"></i>Pagination</a></li>
                                                        <li><a href="progress-bar.html"><i class="fas fa-tasks me-2"></i>Progress Bars</a></li>
                                                        <li><a href="tables.html"><i class="fas fa-table me-2"></i>Tables</a></li>
                                                        <li><a href="typography.html"><i class="fas fa-text-height me-2"></i>Typography</a></li>
                                                        <li><a href="videos.html"><i class="fas fa-video me-2"></i>Videos</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <!-- end menu area -->

                                    <!-- start attribute navigation -->
                                    <div class="attr-nav align-items-xl-center ms-xl-auto main-font">
                                        <ul>
                                            <li class="search"><a href="#!"><i class="fas fa-search"></i></a></li>
                                            <li class="d-none d-xl-inline-block"><a href="contact.html" class="butn secondary md"><span class="text-white">Free Quote</span></a></li>
                                        </ul>
                                    </div>
                                    <!-- end attribute navigation -->
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- BANNER
        ================================================== -->
        <section class="py-6 py-md-16 py-lg-20 py-xxl-24 bg-img cover-background parallax dark-overlay" data-overlay-dark="7" data-background="img/banner/banner-04.jpg">
            <div class="container pt-1-9 pt-sm-6 pt-md-0 mt-n1-9">
                <div class="row align-items-center position-relative z-index-1 justify-content-center py-xxl-7">
                    <div class="col-md-10 text-center py-5">
                        <span class="text-primary text-uppercase small letter-spacing-4 d-block mb-2 font-weight-600 wow text-animation" data-in-effect="fadeInRight">Cargo . Transport . Logistics</span>
                        <h1 class="display-9 display-md-4 display-lg-3 display-xl-1 mb-0 text-shadow text-white font-weight-800 wow fadeInUp" data-wow-delay="400ms">World wide shipping & fast <span class="title-sm banner">solutions.</span></h1>                        
                    </div>
                </div>
            </div>
        </section>

        <!-- ABOUT
        ================================================== -->
        <section>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 mb-2-9 mb-lg-0 wow fadeIn" data-wow-delay="200ms">
                        <div class="row pe-xl-2-3 align-items-sm-end">
                            <div class="col-6 position-relative z-index-3 wow fadeInUp" data-wow-delay="200ms">
                                <img src="img/content/about-07.jpg" class="image-style" alt="...">
                            </div>
                            <div class="col-6">
                                <div class="position-relative z-index-3">
                                    <img src="img/content/about-08.jpg" class="image-style wow fadeInUp" data-wow-delay="300ms" alt="...">
                                    <div class="image-style bg-primary p-1-6 mt-1-6 wow fadeInUp" data-wow-delay="400ms">
                                        <a href="contact.html">
                                        <img src="img/icons/icon-17-white.png" alt="..." class="mb-3">
                                        <p class="mb-0 font-weight-600 text-white display-28">Take <strong class="font-weight-700">20% off</strong> on your first shipment</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>                            
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="400ms">
                        <div class="ps-xl-2-3">
                            <div class="section-title mb-1-9 position-relative">
                                <span class="text-secondary text-uppercase small letter-spacing-4 d-block mb-3 font-weight-600 wow text-animation" data-in-effect="fadeInRight">Since From 1945.</span>
                                <h2 class="display-22 display-sm-18 display-md-16 display-lg-14 display-xl-10 mb-lg-1-6">Fast certified & best world wide <span class="title-sm">services.</span></h2>
                            </div>
                            <div class="mb-1-9">
                                <p class="wow fadeInUp" data-wow-delay="200ms">We pride ourselves on presenting the best delivery and transport offerings to be had allover the world.</p>
                                <ul class="list-style2">
                                    <li class="wow fadeInUp" data-wow-delay="200ms">Quality control system and transparency.</li>
                                    <li class="wow fadeInUp" data-wow-delay="300ms">100% Satisfaction with real time tracking.</li>
                                    <li class="wow fadeInUp" data-wow-delay="400ms">Highly professional staff, 24/7 online support.</li>
                                </ul>
                            </div>
                            <a href="about.html" class="butn md wow fadeInUp" data-wow-delay="500ms"><span>Read more</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- SERVICES
        ================================================== -->
        <section class="bg-dark border-radius-10 mx-auto w-95">
            <div class="container">
                <div class="mb-2-9 mb-lg-6 position-relative text-center">
                    <span class="text-primary text-uppercase small letter-spacing-4 d-block mb-2 font-weight-600 wow text-animation" data-in-effect="fadeInRight">our services.</span>
                    <h2 class="display-22 display-sm-18 display-md-16 display-lg-14 display-xl-10 mb-lg-1-6 text-white">Introduce our <span class="title-sm">services.</span></h2>
                </div>
                <div class="row mt-n1-9">
                    <div class="col-md-6 col-xl-3 mt-1-9 wow fadeInUp" data-wow-delay="200ms">
                        <div class="card card-style4 p-2-4">
                            <div class="card-body p-0">
                                <span class="mb-4 d-block"><img src="img/icons/icon-01-primary.png" alt="..."></span>
                                <h3 class="h5 mb-3"><a href="air-freight.html">Air Freight</a></h3>
                                <p>The services of our company to fulfill the expectations of our great customers.</p>
                            </div>
                            <a href="air-freight.html" class="text-uppercase read-more">Learn More</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mt-1-9 wow fadeInUp" data-wow-delay="400ms">
                        <div class="card card-style4 p-2-4">
                            <div class="card-body p-0">
                                <span class="mb-4 d-block"><img src="img/icons/icon-02-primary.png" alt="..."></span>
                                <h3 class="h5 mb-3"><a href="road-freight.html">Road Freight</a></h3>
                                <p>The services of our company to fulfill the expectations of our great customers.</p>
                            </div>
                            <a href="road-freight.html" class="text-uppercase read-more">Learn More</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mt-1-9 wow fadeInUp" data-wow-delay="600ms">
                        <div class="card card-style4 p-2-4">
                            <div class="card-body p-0">
                                <span class="mb-4 d-block"><img src="img/icons/icon-03-primary.png" alt="..."></span>
                                <h3 class="h5 mb-3"><a href="ocean-freight.html">Ocean Freight</a></h3>
                                <p>The services of our company to fulfill the expectations of our great customers.</p>
                            </div>
                            <a href="ocean-freight.html" class="text-uppercase read-more">Learn More</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mt-1-9 wow fadeInUp" data-wow-delay="800ms">
                        <div class="card card-style4 p-2-4">
                            <div class="card-body p-0">
                                <span class="mb-4 d-block"><img src="img/icons/icon-04-primary.png" alt="..."></span>
                                <h3 class="h5 mb-3"><a href="rail-freight.html">Rail Freight</a></h3>
                                <p>The services of our company to fulfill the expectations of our great customers.</p>
                            </div>
                            <a href="rail-freight.html" class="text-uppercase read-more">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- TESTIMONIALS
        ================================================== -->
        <section>
            <div class="container">
                <div class="mb-2-9 mb-lg-6 position-relative text-center">
                    <span class="text-secondary text-uppercase small letter-spacing-4 d-block mb-2 font-weight-600 wow text-animation" data-in-effect="fadeInRight">Testimonials.</span>
                    <h2 class="display-22 display-sm-18 display-md-16 display-lg-14 display-xl-10 mb-lg-1-6">What our <span class="title-sm">customer say.</span></h2>
                </div>
                 <div class="row justify-content-center wow fadeIn" data-wow-delay="200ms">
                    <div class="col-xl-11">
                        <div class="testimonial-style2 owl-carousel owl-theme">
                            <div class="pt-5 pb-11 px-md-3 px-xl-5 text-center">
                                <div class="w-75px mx-auto mb-1-9">
                                        <img src="img/avatar/avatar-01.jpg" alt="..." class="image-style rounded-circle border-width-2">
                                    </div>
                                <div class="w-85 mx-auto">
                                    <i class="ti-quote-left display-10 text-secondary mb-4 d-block"></i>
                                    <p class="mb-5 display-28 display-md-26 display-lg-24">It fits our needs perfectly. I am completely blown away. Very easy to use. Nice work on your cargo. Thanks cargo! Cargo has got everything I need. It makes my life a lot easier. Absolutely wonderful!</p>
                                    <h5 class="mb-0">Kristin Salas</h5>
                                    <span class="small">Relations Specialist</span>
                                </div>
                            </div>
                            <div class="pt-5 pb-11 px-md-3 px-xl-5 text-center">
                                <div class="w-75px mx-auto mb-1-9">
                                        <img src="img/avatar/avatar-02.jpg" alt="..." class="image-style rounded-circle border-width-2">
                                    </div>
                                <div class="w-85 mx-auto">
                                    <i class="ti-quote-left display-10 text-secondary mb-4 d-block"></i>
                                    <p class="mb-5 display-28 display-md-26 display-lg-24">It really saves me time and effort. cargo is exactly what our business has been lacking. I will let my mum know about this, she could really make use of cargo! I use cargo often. It's exactly what I've been looking for.</p>
                                    <h5 class="mb-0">Dennis Dixon</h5>
                                    <span class="small">Loadmaster</span>
                                </div>
                            </div>
                            <div class="pt-5 pb-11 px-md-3 px-xl-5 text-center">
                                <div class="w-75px mx-auto mb-1-9">
                                        <img src="img/avatar/avatar-03.jpg" alt="..." class="image-style rounded-circle border-width-2">
                                    </div>
                                <div class="w-85 mx-auto">
                                    <i class="ti-quote-left display-10 text-secondary mb-4 d-block"></i>
                                    <p class="mb-5 display-28 display-md-26 display-lg-24">Wow what great service, I love it! Needless to say we are extremely satisfied with the results. I would be lost without cargo. Cargo saved my business. I would gladly pay over 600 dollars for cargo. I would be lost without cargo.</p>
                                    <h5 class="mb-0">James Bulger</h5>
                                    <span class="small">Crew Supervisor</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- WHY CHOOSE US
        ================================================== -->
        <section class="cover-background bg-img dark-overlay border-radius-10 mx-auto w-95" data-overlay-dark="9" data-background="img/bg/bg-04.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 wow fadeIn" data-wow-delay="200ms">
                        <div class="pe-xl-2-9 right-content">
                            <div class="section-title mb-1-9 position-relative">
                                <span class="text-primary text-uppercase small letter-spacing-4 d-block mb-3 font-weight-600 wow text-animation" data-in-effect="fadeInRight">Why Choose us?</span>
                                <h2 class="display-22 display-sm-18 display-md-16 display-lg-14 display-xl-10 mb-lg-1-6 text-white">Why you choose <span class="title-sm">few reasons.</span></h2>
                            </div>
                            <div class="accordion style2" id="accordion">
                                <div class="card">
                                    <h2 class="card-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">What type of services provider?</button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion">
                                        <div class="card-body">
                                            provides some of delivery offerings to clients across the world. Please talk to our Services web page for extra information. If you are going to use a passage of Lorem Ipsum, you need to be sure.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <h2 class="card-header" id="headingTwo">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">How long have you been in business?</button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion">
                                        <div class="card-body">
                                            provides some of delivery offerings to clients across the world. Please talk to our Services web page for extra information. If you are going to use a passage of Lorem Ipsum, you need to be sure.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <h2 class="card-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">What payment methods do you accept?</button>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordion">
                                        <div class="card-body">
                                            provides some of delivery offerings to clients across the world. Please talk to our Services web page for extra information. If you are going to use a passage of Lorem Ipsum, you need to be sure.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <h2 class="card-header" id="headingFour">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">What are the size limits for a parcel?</button>
                                    </h2>
                                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordion">
                                        <div class="card-body">
                                            provides some of delivery offerings to clients across the world. Please talk to our Services web page for extra information. If you are going to use a passage of Lorem Ipsum, you need to be sure.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 d-none d-xl-block wow fadeIn" data-wow-delay="400ms">
                        <div class="ps-xl-2-3 position-relative">
                                <img src="img/content/why-us-02.jpg" alt="..." class="image-style">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- PROCESS
        ================================================== -->
        <section class="pb-0">
            <div class="container">
                <div class="row mt-n1-9">
                    <div class="col-sm-6 col-lg-3 mt-2-2 wow fadeIn" data-wow-delay="200ms">
                        <div class="process-style2 first">
                            <div class="icon-box">
                                <img src="img/icons/icon-17-white.png" alt="...">
                            </div>
                            <div class="process-content">
                                <h3 class="h5 mb-3">Select Freight</h3>
                                <h4 class="h1 mb-0">01</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mt-2-2 wow fadeIn" data-wow-delay="400ms">
                        <div class="process-style2">
                            <div class="icon-box">
                                <img src="img/icons/icon-18-white.png" alt="...">
                            </div>
                            <div class="process-content">
                                <h3 class="h5 mb-3">Select Invoice</h3>
                                <h4 class="h1 mb-0">02</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mt-2-2 wow fadeIn" data-wow-delay="600ms">
                        <div class="process-style2 third">
                            <div class="icon-box">
                                <img src="img/icons/icon-19-white.png" alt="...">
                            </div>
                            <div class="process-content">
                                <h3 class="h5 mb-3">Secure Payment</h3>
                                <h4 class="h1 mb-0">03</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mt-2-2 wow fadeIn" data-wow-delay="800ms">
                        <div class="process-style2">
                            <div class="icon-box">
                                <img src="img/icons/icon-20-white.png" alt="...">
                            </div>
                            <div class="process-content">
                                <h3 class="h5 mb-3">Fast Delivered</h3>
                                <h4 class="h1 mb-0">04</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- BLOG
        ================================================== -->
        <section>
            <div class="container">
                <div class="mb-2-9 mb-lg-6 position-relative text-center">
                    <span class="text-secondary text-uppercase small letter-spacing-4 d-block mb-2 font-weight-600 wow text-animation" data-in-effect="fadeInRight">Blogs & Updates.</span>
                    <h2 class="display-22 display-sm-18 display-md-16 display-lg-14 display-xl-10 mb-lg-1-6">Latest from <span class="title-sm">blog.</span></h2>
                </div>
                <div class="row blog-grid mt-n5">
                    <div class="col-md-6 col-lg-4 mt-5 wow fadeInUp" data-wow-delay="200ms">
                        <article>
                            <div class="blog-style01">
                                <div class="inner-box">
                                    <div class="mb-3 position-relative">
                                        <img src="img/blog/blog-01.jpg" alt="..">
                                        <span class="post-date">10 <br> Feb</span>
                                    </div>
                                    <div class="position-relative">
                                        <ul class="d-flex mb-3 list-unstyled post-info">
                                            <li class="display-30 me-4 position-relative"><i class="far fa-folder pe-2"></i>01 Comments</li>
                                            <li class="display-30 me-0"><a href="#!"><i class="far fa-user pe-2"></i>By Admin</a></li>
                                        </ul>
                                    </div>
                                    <h5 class="mb-3"><a href="blog-detail.html">New design for cargo and warehouse</a></h5>
                                    <a href="blog-detail.html" class="butn sm"><span>Read More</span></a>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-md-6 col-lg-4 mt-5 wow fadeInUp" data-wow-delay="400ms">
                        <article>
                            <div class="blog-style01">
                                <div class="inner-box">
                                    <div class="mb-3 position-relative">
                                        <img src="img/blog/blog-02.jpg" alt="..">
                                        <span class="post-date">22 <br> Feb</span>
                                    </div>
                                    <div class="position-relative">
                                        <ul class="d-flex mb-3 list-unstyled post-info">
                                            <li class="display-30 me-4 position-relative"><i class="far fa-folder pe-2"></i>01 Comments</li>
                                            <li class="display-30 me-0"><a href="#!"><i class="far fa-user pe-2"></i>By Admin</a></li>
                                        </ul>
                                    </div>
                                    <h5 class="mb-3"><a href="blog-detail.html">All the approaches the COVID19 impacts cargo</a></h5>
                                    <a href="blog-detail.html" class="butn sm"><span>Read More</span></a>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-md-6 col-lg-4 mt-5 wow fadeInUp" data-wow-delay="600ms">
                        <article>
                            <div class="blog-style01">
                                <div class="inner-box">
                                    <div class="mb-3 position-relative">
                                        <img src="img/blog/blog-03.jpg" alt="..">
                                        <span class="post-date">29 <br> Feb</span>
                                    </div>
                                    <div class="position-relative">
                                        <ul class="d-flex mb-3 list-unstyled post-info">
                                            <li class="display-30 me-4 position-relative"><i class="far fa-folder pe-2"></i>01 Comments</li>
                                            <li class="display-30 me-0"><a href="#!"><i class="far fa-user pe-2"></i>By Admin</a></li>
                                        </ul>
                                    </div>
                                    <h5 class="mb-3"><a href="blog-detail.html">Why can we love our logistic task so much?</a></h5>
                                    <a href="blog-detail.html" class="butn sm"><span>Read More</span></a>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>

        <!-- FOOTER
        ================================================== -->
        <footer class="position-relative">
            <div class="container z-index-9 position-relative">                
                <div class="row py-8">
                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 wow fadeIn" data-wow-delay="200ms">
                        <div class="footer-logo mb-1-9">
                            <img src="img/logos/footer-light-logo.png" alt="...">
                        </div>
                        <ul class="list-unstyled mb-0">
                            <li class="mb-3 d-flex align-items-baseline">
                                <a href="#!" class="text-white text-primary-hover"><i class="far fa-envelope text-primary display-25 me-4"></i>info@yourdomain.com</a>
                            </li>
                            <li class="mb-3 d-flex align-items-baseline">
                                <a href="#!" class="text-white text-primary-hover"><i class="fas fa-mobile-alt text-primary display-25 me-4"></i>(+44) 123 456 789</a>
                            </li>
                            <li class="text-white d-flex align-items-baseline">
                                <i class="fas fa-map-marker-alt text-primary display-25 me-4"></i>Great North Town.
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-xl-2 col-md-3 col-sm-6 mt-2-2 mt-sm-0 wow fadeIn" data-wow-delay="350ms">
                        <h3 class="text-white h5 mb-3">Quick links</h3>
                        <ul class="footer-list list-unstyled">
                            <li><a href="about.html">About</a></li>
                            <li><a href="project-details.html">Portfolio</a></li>
                            <li><a href="our-projects.html">Gallery</a></li>
                            <li><a href="blog-list.html">Blog</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-xl-2 col-md-3 col-sm-6 mt-2-2 mt-md-0 wow fadeIn" data-wow-delay="500ms">
                        <h3 class="text-white h5 mb-3">Support</h3>
                        <ul class="footer-list list-unstyled">
                            <li><a href="faq.html">FAQ</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="pricing.html">Pricing</a></li>
                            <li><a href="team.html">Expert Team</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-xl-4 col-md-12 col-sm-6 offset-xl-1 wow fadeIn mt-2-2 mt-lg-0" data-wow-delay="650ms">
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1 ms-lg-3">
                                <h3 class="text-white h5">Subscribe to our Newsletter!</h3>
                                <p class="fs-sm mb-4 text-white opacity4">Don’t miss any relevant vacancies!</p>
                            </div>
                        </div>
                         <form class="quform newsletter-rounded w-lg-90 mx-auto ms-lg-0" action="quform/newsletter-two.php" method="post" enctype="multipart/form-data" onclick="">

                            <div class="quform-elements">

                                <div class="row">

                                    <!-- Begin Text input element -->
                                    <div class="col-md-12">
                                        <div class="quform-element m-0">
                                            <div class="quform-input">
                                                <input class="rounded-pill form-control" id="email_address" type="text" name="email_address" placeholder="Subscribe with us">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Text input element -->

                                    <!-- Begin Submit button -->
                                    <div class="col-md-12">
                                        <div class="quform-submit-inner">
                                            <button class="btn btn-white text-primary m-0 px-4" type="submit"><i class="fas fa-paper-plane"></i></button>
                                        </div>
                                        <div class="quform-loading-wrap"><span class="quform-loading"></span></div>
                                    </div>
                                    <!-- End Submit button -->

                                </div>

                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="border-top border-color-light-white z-index-9 position-relative wow fadeIn" data-wow-delay="700ms">
                <div class="container">
                    <div class="row align-items-center py-3">
                        <div class="col-md-7 col-lg-6 text-center text-md-start order-2 order-md-1">
                            <p class="d-inline-block text-white mb-0">&copy; <span class="current-year"></span> Upfront Powered by <a href="#!" class="text-primary text-secondary-hover">Website Design Templates</a></p>
                        </div>
                        <div class="col-md-5 col-lg-6 text-center text-md-end mb-3 mb-md-0 order-1 order-md-2">
                            <ul class="social-icon-style1 mb-0">
                                <li>
                                    <a href="#!"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="#!"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#!"><i class="fab fa-youtube"></i></a>
                                </li>
                                <li>
                                    <a href="#!"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>

    <!-- SCROLL TO TOP
    ================================================== -->
    <a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>

    <!-- all js include start -->

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>

    <!-- popper js -->
    <script src="js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="js/bootstrap.min.js"></script>

    <!-- search -->
    <script src="search/search.js"></script>

    <!-- navigation -->
    <script src="js/nav-menu.js"></script>

    <!-- tab -->
    <script src="js/easy.responsive.tabs.js"></script>

    <!-- owl carousel -->
    <script src="js/owl.carousel.js"></script>

    <!-- jarallax -->
    <script src="js/jarallax.min.js"></script>

    <!-- jarallax video -->
    <script src="js/jarallax-video.js"></script>

    <!-- jquery.counterup.min -->
    <script src="js/jquery.counterup.min.js"></script>

    <!-- wow js -->
    <script src="js/wow.js"></script>

    <!--  clipboard js -->
    <script src="js/clipboard.min.js"></script>

    <!--  prism js -->
    <script src="js/prism.js"></script>

    <!-- stellar js -->
    <script src="js/jquery.stellar.min.js"></script>

    <!-- countdown js -->
    <script src="js/countdown.js"></script>

    <!-- jquery.magnific-popup js -->
    <script src="js/jquery.magnific-popup.min.js"></script>

    <!-- lightgallery js -->
    <script src="js/lightgallery-all.js"></script>

    <!-- mousewheel js -->
    <script src="js/jquery.mousewheel.min.js"></script>

    <!-- waypoints js -->
    <script src="js/waypoints.min.js"></script>

    <!-- lettering js -->
    <script src="js/jquery.lettering.js"></script>

    <!-- textillate js -->
    <script src="js/jquery.textillate.js"></script>

    <!-- custom scripts -->
    <script src="js/main.js"></script>

    <!-- form plugins js -->
    <script src="quform/js/plugins.js"></script>

    <!-- form scripts js -->
    <script src="quform/js/scripts.js"></script>

    <!-- all js include end -->

</body>

</html>